{%- liquid
  assign product = section.settings.product
  assign featuredMedia = product.selected_or_first_available_variant.featured_media
  assign featuredHeadingBar = false 
  if section.settings.heading != blank
    assign featuredHeadingBar = true
  endif 
  if section.settings.enable_thumb and section.settings.thumb_position == 'outer'
    assign featuredHeadingBar = false
  endif 
  assign product_form_id = 'product-form-' | append: section.id
  assign productImageSize = '1700' 
-%}
{% comment %}  {% endcomment %}
<style>
#shopify-section-{{ section.id }}{
  --productSliderHeight:{{ section.settings.featured_height_desktop }};
}
{% unless section.settings.featured_height_desktop == 'adapt' %}
  .yv-feature-product-inner-wrapper .yv-product-small-slider-container .yv-product-small-slider
  {
    width:{{ section.settings.featured_height_desktop }};
  }
{% endunless %}
{% if section.settings.featured_height_desktop == 'adapt' %}
   .yv-feature-product-inner-wrapper .yv-product-small-slider-container .yv-product-small-slider
  {
    width: var(--slide-height);
  }
{% endif %}
@media screen and (max-width:767px){
  #shopify-section-{{ section.id }}{
    --productSliderHeight:{{ section.settings.featured_height_mobile }};
  }
  {% unless section.settings.featured_height_mobile == 'adapt' %}
    .yv-feature-product-inner-wrapper .yv-product-small-slider-container .yv-product-small-slider
  {
    width:{{ section.settings.featured_height_mobile }};
  }
    #shopify-section-{{ section.id }} .thumbnail-position-left .yv-product-small-slider,
    #shopify-section-{{ section.id }} .thumbnail-position-right .yv-product-small-slider{
      width:{{ section.settings.featured_height_mobile }};
    }
  {% endunless %}
}
</style>
<div class="section-spacer" >
  <div class="{% unless section.settings.enable_fullwidth %}container sm-container{% else %}fullwidth-product-section{% endunless %}" > 
  <div data-section="{{ section.id }}" data-url="{{ product.url }}" class="yv-feature-product-wrapper yv_product_content_section{% if settings.layout_style == 'rounded' %} product-layout-rounded{% endif %} image-position-{{ section.settings.featured_image_position }} thumbnail-enable-{{  section.settings.enable_thumb }}{% if section.settings.enable_thumb %} thumbnail-position-{{ section.settings.thumb_position }}{% endif %}" {% if section.settings.show_icon_on_image %}style="position: relative;"{% endif %}>
    {% if section.settings.show_icon_on_image %}
      <div class="yv-draw-icon" data-icon="{{ section.settings.icon }}">
        {% render 'animated-icons', icon: section.settings.icon %}
      </div>
    {% endif %}
    <div class="row no-gutters{% if section.settings.featured_height_desktop == 'adapt' %} yv-fixed-marquee{% endif %}">
        <div class="col-md-6 col-lg-6">
          {%- if product.media.size > 0 -%}
                {% if section.settings.enable_thumb %}
                <div class="yv-feature-product-inner-wrapper" data-section={{ section.id }}>
                {% endif %}
              <div
                   id="product-slider-{{ section.id }}"
                class=" yv-feature-product-image {% if settings.pass_through_product_images %} pass-through-color{% endif %}
                  {% if section.settings.featured_height_desktop == 'adapt' %}featured-desktop-height-adapt{%- else -%}featured-desktop-height-fixed{% endif %}
                  {% if section.settings.featured_height_mobile == 'adapt' %}featured-mobile-height-adapt{%- else -%}featured-mobile-height-fixed{% endif %}  {% unless featuredHeadingBar %}no-featured-text{% endunless %}
                  {% if product.media.size > 1 %}multi-images{% endif %}"
                {% if product.media.size > 1 %}
                  data-flickity-featured-product-slider='
                    {"fade":true,
                    "contain": true,
                    "pageDots": false,
                    "resize": true,
                    "groupCells":true,
                    "touchVerticalScroll": false,
                    "prevNextButtons":true,
                    "draggable":false,
                    "adaptiveHeight": true
                    }
                  '
                {% endif %} data-section={{ section.id }}>
                {% if featuredMedia != blank %}
                  <div class="yv-product-slider-item featured-prod-image active{% if settings.pass_through_product_images %} pass-through-color{% endif %}" data-id="featuredImage-{{ featuredMedia.id }}"
                    id="media-main-{{ featuredMedia.id }}">
                    <div class="image-wrapper" style="padding-bottom:{{ 1 | divided_by : featuredMedia.preview_image.aspect_ratio | times: 100 }}%" >
                      {%- assign mediaId = 'yv-product-image-item-' | append: featuredMedia.id -%}
                      {%- render 'lazy-image', id: mediaId, class: 'yv-product-image', image: featuredMedia, width: productImageSize -%}
                      <a href="{{ featuredMedia | image_url }}" data-fancybox="gallery{{ section.id }}" data-thumb="{{ featuredMedia | image_url }}"
                        class="no-js-hidden" aria-label="{{ featuredMedia.alt | downcase | default: product.title | strip_html }}">
                        <div class="gallery-cursor">
                          <svg id="Layer_2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40">
                            <defs>
                              <style>
                                .cls-1 {
                                  fill: #fff;
                                }
                              </style>
                            </defs>
                            <g id="Layer_1-2">
                              <g>
                                <path class="cls-1" d="M20,0C8.97,0,0,8.97,0,20s8.97,20,20,20,20-8.97,20-20S31.03,0,20,0Z"></path>
                                <polygon
                                  points="29.85 19.52 20.69 19.52 20.69 10.35 19.23 10.35 19.23 19.52 10.07 19.52 10.07 20.97 19.23 20.97 19.23 30.13 20.69 30.13 20.69 20.97 29.85 20.97 29.85 19.52">
                                </polygon>
                              </g>
                            </g>
                          </svg>
                        </div>
                      </a>
                    </div>
                  </div>   
                {% endif %}
                {%- for media in product.media -%}
                  {% unless media.id == featuredMedia.id %}
                  {%- case media.media_type -%}
                    {%- when 'image' -%}
                      <div class="yv-product-slider-item featured-prod-image{% if settings.pass_through_product_images %} pass-through-color{% endif %}" id="media-main-{{ media.id }}"
                        data-id="featuredImage-{{ media.id }}">
                        <div class="image-wrapper" style="padding-bottom:{{ 1 | divided_by : media.preview_image.aspect_ratio | times: 100 }}%" >
                          {%- assign mediaId = 'yv-product-image-item-' | append: media.id -%}
                          {%-
                            render 'lazy-image',
                            id: mediaId,
                            class: 'yv-product-image',
                            image: media,
                            width: productImageSize
                          -%}
                          <a
                            href="{{ media | image_url }}"
                            data-thumb="{{ media | image_url }}"
                            class="no-js-hidden"
                            aria-label="{{ media.alt | downcase | default: product.title | strip_html }}"
                          >
                            <div class="gallery-cursor">
                              <svg id="Layer_2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40">
                                <defs>
                                  <style>
                                    .cls-1 {
                                      fill: #fff;
                                    }
                                  </style>
                                </defs>
                                <g id="Layer_1-2">
                                  <g>
                                    <path class="cls-1" d="M20,0C8.97,0,0,8.97,0,20s8.97,20,20,20,20-8.97,20-20S31.03,0,20,0Z"></path>
                                    <polygon
                                      points="29.85 19.52 20.69 19.52 20.69 10.35 19.23 10.35 19.23 19.52 10.07 19.52 10.07 20.97 19.23 20.97 19.23 30.13 20.69 30.13 20.69 20.97 29.85 20.97 29.85 19.52">
                                    </polygon>
                                  </g>
                                </g>
                              </svg>
                            </div>
                          </a>
                        </div>
                      </div>
                    {%- when 'external_video' -%}
                      {% liquid
                        assign videoUrl = media | external_video_url
                        assign videoClass = 'yv-youtube-video no-js-hidden'
                        if videoUrl contains 'vimeo'
                          assign videoClass = 'yv-vimeo-video no-js-hidden'
                        endif
                      %}
                      <div
                        class="yv-product-slider-item yv-product-external-video-item flickity-slider-item"
                        id="media-main-{{ media.id }}"
                      >
                        <deferred-media class="image-wrapper" style="padding-bottom:{{ 1 | divided_by : media.aspect_ratio | times: 100 }}%">
                          <template style="display:none">
                          {{
                            media
                            | external_video_url: autoplay: false
                            | external_video_tag: class: videoClass, loading: 'lazy'
                          }}
                        </template>
                          <noscript>
                            <a
                              href="{{ media | external_video_url }}"
                              target="_blank"
                              aria-label="{{ media.alt | default: product.title | strip_html }}"
                            >
                              {% comment %}theme-check-disable ImgWidthAndHeight{% endcomment %}
                              <img
                                src="{{ media.preview_image | image_url: width: 2048 }}"
                                alt="{{ media.preview_image.alt | escape }}"
                                loading="lazy"
                              >
                              {% comment %}theme-check-enable ImgWidthAndHeight{% endcomment %}
                            </a>
                          </noscript>
                        </deferred-media>
                      </div>
                    {%- when 'video' -%}
                      {%- liquid
                        assign htmlVideo = media.sources[0]
                        if media.sources[1] != blank
                          assign htmlVideo = media.sources[1]
                        endif
                      -%}
                      <div class="yv-product-slider-item yv-product-video-item flickity-slider-item" id="media-main-{{ media.id }}" >
                        <deferred-media class="image-wrapper" style="padding-bottom:{{ 1 | divided_by : media.aspect_ratio | times: 100 }}%">
                          <template style="display:none">
                          {{
                            media
                            | media_tag: loading: 'lazy', class: 'no-js-hidden', autoplay: false, controls: true, preload: 'none'
                          }}
                        </template>
                          <noscript>
                            <a href="{{ htmlVideo.url }}" target="_blank">
                              {% comment %}theme-check-disable ImgWidthAndHeight{% endcomment %}
                              <img
                                src="{{ media.preview_image | image_url: width: 2048 }}"
                                alt="{{ media.preview_image.alt | escape }}"
                                loading="lazy"
                                aria-label="{{ media.alt | default: product.title | strip_html }}"
                              >
                              {% comment %}theme-check-enable ImgWidthAndHeight{% endcomment %}
                            </a>
                          </noscript>
                        </deferred-media>
                      </div>
                    {%- when 'model' -%}
                      {%- liquid
                        if media.preview_image.aspect_ratio
                          assign media_aspect_ratio = media.preview_image.aspect_ratio
                        endif
                      -%}
                      <div id="media-main-{{ media.id }}" class="yv-product-slider-item yv-product-model-item flickity-slider-item">
                        <div
                          class="product-single__media no-js-hidden"
                          style="padding-bottom: {{ 100 | divided_by: media_aspect_ratio }}%"
                          data-media-id="{{ media.id }}"
                        > {{ media | model_viewer_tag: image_size: true, reveal: 'interaction', toggleable: true, data-model-id: media.id }}
                          <button class="close-product-model hidden">
                            <svg
                              aria-hidden="true"
                              focusable="false"
                              role="presentation"
                              class="icon icon-close"
                              viewBox="0 0 40 40"
                            >
                              <path
                                d="M23.868 20.015L39.117 4.78c1.11-1.108 1.11-2.77 0-3.877-1.109-1.108-2.773-1.108-3.882 0L19.986 16.137 4.737.904C3.628-.204 1.965-.204.856.904c-1.11 1.108-1.11 2.77 0 3.877l15.249 15.234L.855 35.248c-1.108 1.108-1.108 2.77 0 3.877.555.554 1.248.831 1.942.831s1.386-.277 1.94-.83l15.25-15.234 15.248 15.233c.555.554 1.248.831 1.941.831s1.387-.277 1.941-.83c1.11-1.109 1.11-2.77 0-3.878L23.868 20.015z"
                                class="layer"></path>
                            </svg>
                          </button>
                        </div>
                        <button
                          class="button button--full-width product__xr-button d-md-none d-lg-none no-js-hidden"
                          type="button"
                          aria-label="{{ 'products.product.media.view_in_ar_button' | t }}"
                          data-shopify-xr
                          data-shopify-model3d-id="{{ media.id }}"
                          data-shopify-title="title"
                          data-shopify-xr-hidden
                        >
                          <svg
                            aria-hidden="true"
                            focusable="false"
                            role="presentation"
                            class="icon icon-3d"
                            viewBox="18.24 17.35 24.52 28.3"
                            width="44"
                            height="44"
                          >
                            <path fill="currentcolor"
                              d="M30.5 17.35l-12.26 7.07v14.16l12.26 7.07 12.26-7.08V24.42L30.5 17.35zM20.24 37.42V25.58l10.26-5.93 10.13 5.85-10.13 5.88v12l-10.26-5.96z">
                            </path>
                          </svg>
                          {{ 'products.product.media.view_in_ar_button' | t }}
                        </button>
                        {% comment %}theme-check-disable ImgWidthAndHeight,ImgLazyLoading{% endcomment %}
                        <noscript>
                          <img
                            src="{{ media.preview_image | image_url: width: 2048 }}"
                            alt="{{ media.preview_image.alt | escape }}"
                            aria-label="{{ media.alt | default: product.title | strip_html }}"
                          >
                        </noscript>
                        {% comment %}theme-check-enable ImgWidthAndHeight,ImgLazyLoading{% endcomment %}
                      </div>
                  {%- endcase -%}
                {% endunless %}
                {%- endfor -%}
                
              </div>
              {%- if featuredHeadingBar -%}
                <div
                  class="featured-product-img-text style-{{ section.settings.marquee_text_position }}{% if section.settings.enable_marquee %} marque-enabled{% endif %}"
                  style="--animation-speed:{{ section.settings.marquee_speed }}s"
                >
                  {% assign vertical_text_hyphen = '' %}
                  {% if section.settings.marquee_text_position == 'vertical-text' and section.settings.enable_marquee %}
                    {% assign vertical_text_hyphen = '<span class="h5">-</span>' %}
                  {% endif %}
                  {%- if section.settings.heading != blank -%}
                    {% if section.settings.marquee_text_position == 'vertical-text' and section.settings.enable_marquee %}
                    <div class="marquee-group">
                    {% endif %}
                    <span class="h5">{{ section.settings.heading }}</span>
                    {{ vertical_text_hyphen }}
                    {% if section.settings.marquee_text_position == 'vertical-text' and section.settings.enable_marquee %}
                      </div>
                    {% endif %}
                    {% if section.settings.enable_marquee %}
                      {%- for i in (1..5) -%}
                        {% if section.settings.marquee_text_position == 'vertical-text' %}
                          <div class="marquee-group">
                        {% endif %}                   
                        <span class="h5">{{ section.settings.heading }}</span>
                        {{ vertical_text_hyphen }}
                        {% if section.settings.marquee_text_position == 'vertical-text' %}
                          </div>
                        {% endif %}
                      {% endfor %}                    
                    {% endif %}
                  {%- endif -%}
                </div>
              {%- endif -%}
              <div
                class="yv-product-small-slider-container "
                tabindex="-1"
                style="--layoutRadius:{% if settings.layout_style == 'rounded' %}6px{% else %}0px{% endif %}; --height:{{ featuredMedia.preview_image.height }}px;{% if product.media.size <= 1 or section.settings.enable_thumb == false %}display:none !important{% endif %}"
              >
                <div
                  id="product-thumb-slider-{{ section.id }}"
                  class="yv-product-small-slider data-thumb-slider"
                  data-flickity-featured-product-thumb-slider='
                              { "asNavFor": "#product-slider-{{ section.id }}", "contain": true, "pageDots": false,"cellAlign":"left","prevNextButtons": false}
                  '
                >
                  {% if featuredMedia != blank %}
                    <div
                      class="yv-product-slider-item gallery__slide-img {% if settings.pass_through_product_images %} pass-through-color{% endif %}"
                      id="media-thumb-{{ featuredMedia.id }}"
                      data-image="media-{{ featuredMedia.id }}"
                     
                    >
                      {%- render 'lazy-image', image: featuredMedia.preview_image, width: '70', sizes: '[70,80,90,100,110,120]' -%}
                    </div>
                  {% endif %}
                  {%- for media in product.media -%}
                    {% unless media.id == featuredMedia.id %}
                    <div class="yv-product-slider-item gallery__slide-img {% if settings.pass_through_product_images %} pass-through-color{% endif %}"
                      id="media-thumb-{{ media.id }}" data-image="media-{{ media.id }}">
                      {%- render 'lazy-image', image: media.preview_image, width: '70', sizes: '[70,80,90,100,110,120]' -%}
                    </div>
                  {% endunless %}
                  {%- endfor -%}
                </div>
            </div>
            {% if section.settings.enable_thumb %}
            </div>
            {% endif %}
          {% else %}
            <div class="product-no-media">
              {{ 'product-1' | placeholder_svg_tag: 'placeholder-svg' }}
            </div>
          {% endif %}
        </div>
        <div class="col-md-6 col-lg-6">
          {%- unless section.settings.product == blank -%}
            {%- render 'product-form', product: product -%}
          {%- else -%}
            <div class="yv-feature-product-detail options-style-{{ settings.option_layout_style }}">
              {%- for block in section.blocks -%}
                {%- case block.type -%}
                  {%- when '@app' -%}
                    {%- render block -%}
                  {%- when 'title' -%}
                    <{{ block.settings.seo_heading }} class="yv-product-detail-title {{ block.settings.heading_size }}">{{ 'onboarding.product_title' | t }}</{{ block.settings.seo_heading }}>
                  {%- when 'text' -%}
                    <p class="yv-product-detail-desc" {{ block.shopify_attributes }}>{{ block.settings.text }}</p>
                  {%- when 'price' -%}
                    <div class="yv-pricebox-outer">
                      <div class="yv-prizebox">
                        <span class="yv-product-price h2">{{ 8800 | money }}</span>
                        <div class="yv-compare-price-box">
                          <span class="yv-product-compare-price"> {{ 9900 | money }}</span>
                          {%- if settings.show_saved_amount -%}
                            {% liquid assign offText = 'products.product.off' | t %}
                            {%- if settings.saved_amount_style == 'percentage' -%}
                              <span class="yv-product-percent-off">
                                {{-
                                  9900
                                  | minus: 8800
                                  | times: 100
                                  | divided_by: 9900
                                  | append: '% '
                                  | append: offText
                                -}}
                              </span>
                            {%- else -%}
                              <span class="yv-product-percent-off">
                                {{- 9900 | minus: 8800 | money | append: '% ' | append: offText -}}
                              </span>
                            {%- endif -%}
                          {%- endif -%}
                        </div>
                      </div>
                    </div>
                  {%- when 'quantity' -%}
                    <div class="yv-product-quantity">
                      <label class="yv-variant-title" for="product-quantity-{{ product_form_id }}">{{ 'products.product.quantity.label' | t }}</label>
                      <div class="quantity">
                        <button type="button" class="quantity-button quantity-down no-js-hidden">
                          <span class="yv-visually-hidden">
                            {{- 'products.product.quantity.decrease' | t: product: product.title | escape -}}
                          </span>
                          <svg x="0px" y="0px" width="14px" height="14px" viewBox="0 0 14 14">
                            <rect x="6" transform="matrix(6.123234e-17 -1 1 6.123234e-17 0 14)" width="2.1" height="14"/>
                          </svg>
                        </button>

                        <input
                          id="product-quantity-{{ product_form_id }}"
                          type="number"
                          name="quantity"
                          min="1"
                          step="1"
                          value="1"
                          aria-label="{{ 'products.product.quantity.label' | t }}"
                        >

                        <button type="button" class="quantity-button quantity-up no-js-hidden">
                          <span class="yv-visually-hidden">
                            {{- 'products.product.quantity.increase' | t: product: product.title | escape -}}
                          </span>
                          <svg x="0px" y="0px" width="14px" height="14px" viewBox="0 0 14 14">
                            <polygon points="14,6 8,6 8,0 6,0 6,6 0,6 0,8 6,8 6,14 8,14 8,8 14,8 "/>
                          </svg>
                        </button>
                      </div> 
                    </div>
                  {%- when 'variant' -%}
                    {%- comment -%}theme-check-disable TranslationKeyExists {%- endcomment -%}
                    {%- for i in (1..2) -%}
                      {%- liquid
                        assign OptionName = 'products.product.onboarding.options.option' | append: i | append: '.label' | t
                        assign downOption = OptionName | downcase
                        assign optionIndex = forloop.index
                      -%}
                      <div
                        class="select-{{ downOption }} product-option-selector no-js-hidden"
                        {{ block.shopify_attributes }}
                      >
                        <label class="yv-variant-title">{{ 'products.product.option' | t: title: OptionName }}</label>
                     
                        {% liquid
                        assign swatchStyle = settings.color_swatch_style
                          if downOption != 'color' or downOption != 'color'
                            if settings.color_swatch_style == 'circle'
                              assign swatchStyle = 'round'
                            endif
                          endif
                        -%}
                        {%- if settings.option_style == 'swatch' -%}
                          <ul class="list-unstyled product-loop-variants {{ swatchStyle }}">
                            {%- for i in (1..5) -%}
                              {%- assign optionValue = 'products.product.onboarding.options.option'
                                | append: optionIndex
                                | append: '.value'
                                | append: i
                                | t
                              -%}
                              <li class="{{ downOption }}_option  variant_option">
                                <input
                                  class=""
                                  type="radio"
                                  name="option-{{ optionIndex }}"
                                  value="{{ optionValue }}"
                                  title="{{ optionValue }}"
                                  {% if forloop.first %}
                                    checked
                                  {% endif %}
                                >
                                {%- if downOption == 'color' or downOption == 'colour' -%}
                                  <span
                                    class="option {% if forloop.first %}selected{% endif %} variantColorOption"
                                    {% if downOption == 'color' or downOption == 'colour' %}
                                      style="background-color:{{ optionValue }};"
                                    {% endif %}
                                  >
                                  </span>
                                {%- else -%}
                                  <span class="option {% if forloop.first %}selected{% endif %}">
                                    {{ optionValue }}
                                  </span>
                                {%- endif -%}
                              </li>
                            {%- endfor -%}
                          </ul>
                        {%- elsif settings.option_style == 'dropdown' -%}
                          <div class="dropdown {{ downOption }}-select productOptionSelect">
                            <div class="product-loop-variants">
                              <select class="dropdown-selected" name="option-{{ optionIndex }}">
                                {%- for i in (1..5) -%}
                                  {%- assign optionValue = 'products.product.onboarding.options.option'
                                    | append: optionIndex
                                    | append: '.value'
                                    | append: i
                                    | t
                                  -%}
                                  <option
                                    value="{{ optionValue }}"
                                    {% if forloop.first %}
                                      selected
                                    {% endif %}
                                  >
                                    {{ optionValue }}
                                  </option>
                                {%- endfor -%}
                              </select>
                            </div>
                          </div>
                        {%- endif -%}
                      </div>
                    {%- endfor -%}
                  {%- when 'custom_liquid' -%}
                    <div class="product_custom_liquid">{{ block.settings.custom_liquid }}</div>
                    {%- comment -%}theme-check-enable TranslationKeyExists {%- endcomment -%}
                  {%- when 'button' -%}
                    <div class="product_button">
                      <div
                        class="pdp-action-container yv-checkout-btn {% if block.settings.enable_fullwidth %}yv-checkout-btn-full-width{% endif %}"
                        data-button-wrapper
                      >
                        <button type="submit" class="Sd_addProduct add_to_cart button black-btn" disabled>
                          
                          {% if settings.buttonAnimation == 'animated-arrow'%}
                            <span class="btn-animated-arrow"><svg fill="none" viewBox="0 0 8 8">
                              <path fill="currentColor" fill-rule="evenodd" d="M0 0h8v8H7V1.707L1.354 7.354 1 7.707.293 7l.353-.354L6.293 1H0V0Z" clip-rule="evenodd"></path>
                              </svg>
                            </span>
                          {% endif %}
                          <span class="btn-txt">{{ 'products.product.sold_out' | t }}</span>
                          <svg
                            style="margin: auto; display: none; shape-rendering: auto;"
                            width="200px"
                            height="200px"
                            viewBox="0 0 100 100"
                            preserveAspectRatio="xMidYMid"
                            class="svg-loader"
                          >
                            <circle cx="50" cy="50" fill="none" stroke="currentcolor" stroke-width="6" r="35" stroke-dasharray="164.93361431346415 56.97787143782138">
                              <animateTransform attributeName="transform" type="rotate" repeatCount="indefinite" dur="1s" values="0 50 50;360 50 50" keyTimes="0;1"/>
                            </circle>
                          </svg>
                        </button>
                      </div>
                    </div>
                {%- endcase -%}
              {%- endfor -%}
            </div>
          {%- endunless -%}
        </div>
      </div>
    </div>
  </div>
</div>

<style>
    #shopify-section-{{ section.id }}.shopify-section {
      {% if section.settings.enable_top_border %}
        border-top: 1px {{ section.settings.border_style }} var(--primaryBorderColor);
      {% endif %}
      {% if section.settings.enable_bottom_border %}
        border-bottom: 1px {{ section.settings.border_style }} var(--primaryBorderColor);
      {% endif %}
      background:var(--{{- section.settings.bgcolor -}}ColorBody);
      padding-top:{{ section.settings.top_space_desktop }}px;
      padding-bottom:{{ section.settings.bottom_space_desktop }}px;
      --productSliderHeight:{{ section.settings.featured_height_desktop }};
      {%- unless section.settings.bgcolor == 'primary' or section.settings.bgcolor == 'gradient' -%}
      --colorTextBody:var(--{{- section.settings.bgcolor -}}colorTextBody);
      --heading_color:var(--{{- section.settings.bgcolor -}}_heading_color);
      --subheading_color:var(--{{- section.settings.bgcolor -}}_subheading_color);
      --primaryColorBody:var(--{{- section.settings.bgcolor -}}ColorBody);
      --colorLightTextBody:var(--{{- section.settings.bgcolor -}}ColorLightTextBody);
      --colorXlightTextBody:var(--{{- section.settings.bgcolor -}}ColorXlightTextBody);
      --primaryBorderColor: var(--{{- section.settings.bgcolor -}}BorderColor);
      {%- endunless -%}
      --SocialIconBg:var(--{{- section.settings.bgcolor -}}SocialIconBg)
    }

    {% if section.settings.show_icon_on_image %}
      #shopify-section-{{ section.id }} .animated-path {
        stroke-dasharray: 1000;
        stroke-dashoffset: 1000;
        stroke: {{ section.settings.icon_animated_color }};
        stroke-width: 8;
      }
      #shopify-section-{{ section.id }} .yv-draw-icon {
        position: absolute;  
        top: {{ section.settings.top_to_bottom | append: '%' }}; 
        left: {{ section.settings.left_to_right | append: '%' }};
      }

      @media only screen and (max-width:767px) {
        #shopify-section-{{ section.id }} .yv-draw-icon {
          position: absolute;  
          top: {{ section.settings.mobile_top_to_bottom | append: '%' }}; 
          left: {{ section.settings.mobile_left_to_right | append: '%' }};
        }
      }
    {% endif %}

    {%- unless section.settings.bgcolor == 'gradient' -%}
    #shopify-section-{{ section.id }} .yv-feature-product-detail .share-icon a{
      background: var(--SocialIconBg);
    }
  {%- endunless -%}
    {% liquid
      assign colorBrightness = settings.color_body_bg | color_brightness
      if section.settings.bgcolor == 'secondary'
      assign colorBrightness = settings.secondary_color_body_bg | color_brightness
      elsif section.settings.bgcolor == 'tertiary'
      assign colorBrightness = settings.tertiary_color_body_bg | color_brightness
      elsif section.settings.bgcolor == 'quaternary'
      assign colorBrightness = settings.quaternary_color_body_bg | color_brightness
      endif
    %}
    {%- if colorBrightness < 130 -%}
      #shopify-section-{{ section.id }} .yv_product_content_section select{
        background: url({{ 'select-arrow-white.png' | asset_url }}) no-repeat 97% 50% /10px transparent;
      }
      #shopify-section-{{ section.id }} .product-view-dropdown select {
        background: url({{ 'select-arrow-white.png' | asset_url }}) no-repeat 94% 60% /9px transparent;
      }
    {%- else -%}
    #shopify-section-{{ section.id }} .yv_product_content_section select{
      background:url({{ 'lang-dropdown-arrow.svg' | asset_url }}) no-repeat 97% 50% /10px transparent;
    }
    #shopify-section-{{ section.id }} .product-view-dropdown select {
      background: url({{ 'lang-dropdown-arrow.svg' | asset_url }}) no-repeat 94% 60% /9px transparent ;
    }
    {%- endif -%}


    @media only screen and (max-width:767px) {
      #shopify-section-{{ section.id }}.shopify-section{
        padding-top:{{ section.settings.top_space_mobile }}px;
        padding-bottom:{{ section.settings.bottom_space_mobile }}px;
        --productSliderHeight:{{ section.settings.featured_height_mobile }};
      }
    }
  {% if section.settings.section_visibility == 'large' %}
      @media (max-width: 767px) {
        #shopify-section-{{ section.id }}{
          display: none !important;
        }
      }
    {% elsif section.settings.section_visibility == 'small' %}
      @media (min-width: 768px) {
        #shopify-section-{{ section.id }}{
          display: none !important;
        }
      }
  {% endif %}

</style>
{% comment %} <script src="{{ 'fancybox.min.js' | asset_url }}" defer></script> {% endcomment %}
<script src="{{ 'featured-product.js' | asset_url }}" defer></script>
<script>
document.addEventListener("DOMContentLoaded", function () {
 
  if (typeof AOS !== "undefined") {

    setTimeout(function () {

      AOS.refresh(); 

    }, 500); 

  }

});
</script>
 
{% schema %}
{
  "name": "t:sections.featured-product.name",
  "tag": "section",
  "class": "feature-section featured-product-section",
  "disabled_on": {
    "groups": [
      "header",
      "footer"
    ]
  },
  "settings": [
    {
      "type": "checkbox",
      "id": "enable_fullwidth",
      "default": false,
      "label": "t:sections.featured-product.settings.enable_fullwidth.label"
    },
    {
      "type": "checkbox",
      "id": "enable_thumb",
      "label": "t:sections.main-product.settings.enable_thumb.label"
    },
    {
      "type": "select",
      "id": "thumb_position",
      "default": "outer",
      "label": "t:sections.featured-product.settings.thumb_position.label",
      "options": [
        {
          "value": "outer",
          "label": "t:sections.featured-product.settings.thumb_position.options.outer.label"
        },
        {
          "value": "inner",
          "label": "t:sections.featured-product.settings.thumb_position.options.inner.label"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:common.header.section_border.label"
    },
    {
      "type": "checkbox",
      "id": "enable_top_border",
      "label": "t:common.enable_top_border.label",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "enable_bottom_border",
      "label": "t:common.enable_bottom_border.label",
      "default": false
    },
    {
      "type": "select",
      "id": "border_style",
      "default": "solid",
      "label": "t:common.border_style.label",
      "options": [
        {
          "value": "solid",
          "label": "t:common.border_style.options.solid.label"
        },
        {
          "value": "dashed",
          "label": "t:common.border_style.options.dashed.label"
        }
      ]
    },
    {
      "type": "text",
      "id": "heading",
      "label": "t:sections.featured-product.settings.heading.label",
      "info": "t:sections.featured-product.settings.heading.info"
    },
    {
      "type": "checkbox",
      "id": "enable_marquee",
      "default": false,
      "label": "t:sections.featured-product.settings.enable_marquee.label",
      "info": "t:sections.featured-product.settings.enable_marquee.info"
    },
    {
      "type": "select",
      "id": "marquee_text_position",
      "default": "vertical-text",
      "label": "t:sections.featured-product.settings.marquee_text_position.label",
      "options": [
        {
          "value": "letter-by-letter",
          "label": "t:sections.featured-product.settings.marquee_text_position.options.letter-by-letter.label"
        },
        {
          "value": "vertical-text",
          "label": "t:sections.featured-product.settings.marquee_text_position.options.vertical-text.label"
        }
      ]
    },
    {
      "type": "range",
      "id": "marquee_speed",
      "label": "t:sections.featured-product.settings.marquee_speed.label",
      "default": 2,
      "min": 1,
      "max": 30,
      "step": 1,
      "unit": "sec"
    },
    {
      "type": "product",
      "id": "product",
      "label": "t:sections.featured-product.settings.product.label"
    },
    {
      "type": "header",
      "content": "t:sections.featured-product.settings.image_header.content"
    },
    {
      "type": "select",
      "id": "featured_image_position",
      "label": "t:sections.featured-product.settings.featured_image_position.label",
      "default": "left",
      "options": [
        {
          "value": "left",
          "label": "t:sections.featured-product.settings.featured_image_position.options.left.label"
        },
        {
          "value": "right",
          "label": "t:sections.featured-product.settings.featured_image_position.options.right.label"
        }
      ]
    },
    {
      "type": "select",
      "id": "featured_height_desktop",
      "label": "t:sections.featured-product.settings.featured_height_desktop.label",
      "default": "adapt",
      "options": [
        {
          "value": "600px",
          "label": "t:sections.featured-product.settings.featured_height_desktop.options.small.label"
        },
        {
          "value": "700px",
          "label": "t:sections.featured-product.settings.featured_height_desktop.options.medium.label"
        },
        {
          "value": "800px",
          "label": "t:sections.featured-product.settings.featured_height_desktop.options.large.label"
        },
        {
          "value": "adapt",
          "label": "t:sections.featured-product.settings.featured_height_desktop.options.adapt_image.label"
        }
      ]
    },
    {
      "type": "select",
      "id": "featured_height_mobile",
      "label": "t:sections.featured-product.settings.featured_height_mobile.label",
      "default": "adapt",
      "options": [
        {
          "value": "400px",
          "label": "t:sections.featured-product.settings.featured_height_mobile.options.small.label"
        },
        {
          "value": "500px",
          "label": "t:sections.featured-product.settings.featured_height_mobile.options.medium.label"
        },
        {
          "value": "600px",
          "label": "t:sections.featured-product.settings.featured_height_mobile.options.large.label"
        },
        {
          "value": "adapt",
          "label": "t:sections.featured-product.settings.featured_height_mobile.options.adapt_image.label"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:common.header.color_singular_section.label"
    },
    {
      "type": "select",
      "id": "bgcolor",
      "label": "t:common.header.background_section.label",
      "default": "secondary",
      "options": [
        {
          "value": "primary",
          "label": "t:common.header.primary.label"
        },
        {
          "value": "secondary",
          "label": "t:common.header.secondary.label"
        },
        {
          "value": "tertiary",
          "label": "t:common.header.tertiary.label"
        },
        {
          "value": "quaternary",
          "label": "t:common.header.quaternary.label"
        },
        {
          "value": "gradient",
          "label": "t:common.header.gradient.label"
        }
      ]
    },
    {
      "type": "select",
      "id": "section_visibility",
      "label": "t:common.section_visibility.label",
      "default": "always",
      "options": [
        {
          "label": "t:common.section_visibility.options.always.label",
          "value": "always"
        },
        {
          "label": "t:common.section_visibility.options.small_devices.label",
          "value": "small"
        },
        {
          "label": "t:common.section_visibility.options.large_devices.label",
          "value": "large"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:common.header.icon_over_section.label"
    },
    {
      "type": "checkbox",
      "id": "show_icon_on_image",
      "label": "t:common.show_icon.label",
      "default": false
    },
    {
      "type": "select",
      "id": "icon",
      "label": "t:common.icon.label",
      "default": "heart",
      "options": [
        {
          "label": "t:common.icon_name.arrow.label",
          "value": "arrow"
        },
        {
          "label": "t:common.icon_name.line-arrow.label",
          "value": "line-arrow"
        },
        {
          "label": "t:common.icon_name.heart.label",
          "value": "heart"
        },
        {
          "label": "t:common.icon_name.star.label",
          "value": "star"
        },
        {
          "label": "t:common.icon_name.snail.label",
          "value": "snail"
        },
        {
          "label": "t:common.icon_name.sparkle.label",
          "value": "sparkle"
        }
      ]
    },
    {
      "type": "paragraph",
      "content": "t:common.icon_position.label"
    },
    {
      "type": "range",
      "id": "left_to_right",
      "label": "t:common.left_to_right.label",
      "default": 90,
      "min": -10,
      "max": 90,
      "step": 1,
      "unit": "%"
    },
    {
      "type": "range",
      "id": "top_to_bottom",
      "label": "t:common.top_to_bottom.label",
      "default": 50,
      "min": -10,
      "max": 90,
      "step": 1,
      "unit": "%"
    },
    {
      "type": "range",
      "id": "mobile_left_to_right",
      "label": "t:common.mobile_left_to_right.label",
      "default": 50,
      "min": -10,
      "max": 90,
      "step": 1,
      "unit": "%"
    },
    {
      "type": "range",
      "id": "mobile_top_to_bottom",
      "label": "t:common.mobile_top_to_bottom.label",
      "default": 50,
      "min": -10,
      "max": 90,
      "step": 1,
      "unit": "%"
    },
    {
      "type": "color",
      "id": "icon_animated_color",
      "label": "t:common.icon_animated_color.label",
      "default": "#000000"
    },
    {
      "type": "header",
      "content": "t:common.header.space_section.label"
    },
    {
      "type": "range",
      "id": "top_space_desktop",
      "label": "t:common.top_space_desktop.label",
      "default": 70,
      "min": 0,
      "max": 100,
      "step": 5
    },
    {
      "type": "range",
      "id": "bottom_space_desktop",
      "label": "t:common.bottom_space_desktop.label",
      "default": 70,
      "min": 0,
      "max": 100,
      "step": 5
    },
    {
      "type": "range",
      "id": "top_space_mobile",
      "label": "t:common.top_space_mobile.label",
      "default": 40,
      "min": 0,
      "max": 100,
      "step": 5
    },
    {
      "type": "range",
      "id": "bottom_space_mobile",
      "label": "t:common.bottom_space_mobile.label",
      "default": 0,
      "min": 0,
      "max": 100,
      "step": 5
    }
  ],
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "title",
      "name": "t:sections.featured-product.blocks.title.name",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "heading_size",
          "label": "t:common.heading_size.label",
          "default": "h4",
          "options": [
            {
              "value": "h1",
              "label": "H1"
            },
            {
              "value": "h2",
              "label": "H2"
            },
            {
              "value": "h3",
              "label": "H3"
            },
            {
              "value": "h4",
              "label": "H4"
            },
            {
              "value": "h5",
              "label": "H5"
            },
            {
              "value": "h6",
              "label": "H6"
            }
          ]
        },
        {
          "type": "select",
          "id": "seo_heading",
          "label": "t:common.header.heading_tag.label",
          "info": "t:common.header.heading_tag.info",
          "default": "h2",
          "options": [
            {
              "value": "h1",
              "label": "t:common.header.heading_tag.options.h1.label"
            },
            {
              "value": "h2",
              "label": "t:common.header.heading_tag.options.h2.label"
            },
            {
              "value": "h3",
              "label": "t:common.header.heading_tag.options.h3.label"
            },
            {
              "value": "h4",
              "label": "t:common.header.heading_tag.options.h4.label"
            },
            {
              "value": "h5",
              "label": "t:common.header.heading_tag.options.h5.label"
            },
            {
              "value": "h6",
              "label": "t:common.header.heading_tag.options.h6.label"
            }
          ]
        }
      ]
    },
    {
      "type": "sku",
      "name": "t:sections.featured-product.blocks.sku.name",
      "limit": 1
    },
    {
      "type": "text",
      "name": "t:sections.featured-product.blocks.text.name",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "t:sections.featured-product.blocks.text.settings.text.label",
          "default": "Include a short product description that will provide your buyer with a clear understanding of your featured goods."
        }
      ]
    },
    {
      "type": "price",
      "name": "t:sections.featured-product.blocks.price.name",
      "limit": 1
    },
    {
      "type": "review-star",
      "name": "t:sections.featured-product.blocks.review-star.name",
      "limit": 1
    },
    {
      "type": "variant",
      "name": "t:sections.featured-product.blocks.variant.name",
      "limit": 1
    },
    {
      "type": "quantity",
      "name": "t:sections.featured-product.blocks.quantity.name",
      "limit": 1
    },
    {
      "type": "inventory_status",
      "name": "t:sections.main-product.blocks.inventory_status.name",
      "limit": 1,
      "settings": [
        {
          "type": "range",
          "id": "minimun_inventory",
          "label": "t:sections.main-product.blocks.inventory_status.settings.minimun_inventory.label",
          "default": 10,
          "min": 1,
          "max": 20,
          "step": 1
        },
        {
          "type": "text",
          "id": "inventory_available_status",
          "label": "t:sections.main-product.blocks.inventory_status.settings.inventory_available_status.label"
        },
        {
          "type": "text",
          "id": "inventory_less_status",
          "label": "t:sections.main-product.blocks.inventory_status.settings.inventory_less_status.label",
          "info": "t:sections.main-product.blocks.inventory_status.settings.inventory_less_status.info"
        },
        {
          "type": "checkbox",
          "id": "show_inventory_bar",
          "default": true,
          "label": "t:sections.main-product.blocks.inventory_status.settings.show_inventory_bar.label"
        }
      ]
    },
    {
      "type": "custom_liquid",
      "name": "t:sections.featured-product.blocks.custom_liquid.name",
      "settings": [
        {
          "type": "liquid",
          "id": "custom_liquid",
          "label": "t:sections.featured-product.blocks.custom_liquid.settings.custom_liquid.label",
          "info": "t:sections.featured-product.blocks.custom_liquid.settings.custom_liquid.info"
        }
      ]
    },
    {
      "type": "button",
      "name": "t:sections.featured-product.blocks.button.name",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "dynamic_checkout_btn",
          "default": true,
          "label": "t:sections.featured-product.blocks.button.settings.dynamic_checkout_btn.label"
        },
        {
          "type": "checkbox",
          "id": "enable_fullwidth",
          "default": false,
          "label": "t:sections.featured-product.blocks.button.settings.enable_fullwidth.label"
        }
      ]
    },
    {
      "type": "reels",
      "name": "t:sections.main-product.blocks.short_video.name",
      "settings": [
        {
          "type": "text",
          "label": "t:sections.main-product.blocks.short_video.settings.reels_heading.label",
          "id": "reels_heading",
          "default": "Short videos"
        },
        {
          "type": "video",
          "id": "video_url_1",
          "label": "t:sections.main-product.blocks.short_video.settings.video_url_1.label"
        },
        {
          "type": "video",
          "id": "video_url_2",
          "label": "t:sections.main-product.blocks.short_video.settings.video_url_2.label"
        },
        {
          "type": "video",
          "id": "video_url_3",
          "label": "t:sections.main-product.blocks.short_video.settings.video_url_3.label"
        },
        {
          "type": "video",
          "id": "video_url_4",
          "label": "t:sections.main-product.blocks.short_video.settings.video_url_4.label"
        }
      ]
    },
    {
      "type": "social-icons",
      "name": "t:sections.main-product.blocks.social-icons.name",
      "limit": 1
    },
    {
      "type": "product-countdown",
      "name": "t:sections.main-product.blocks.product-countdown.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "countdown_time",
          "label": "t:sections.main-product.blocks.product-countdown.settings.countdown_time.label",
          "info": "t:sections.main-product.blocks.product-countdown.settings.countdown_time.info"
        },
        {
          "type": "text",
          "id": "countdown_title",
          "label": "t:sections.main-product.blocks.product-countdown.settings.countdown_title.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.featured-product.presets.name",
      "blocks": [
        {
          "type": "title"
        },
        {
          "type": "review-star"
        },
        {
          "type": "price"
        },
        {
          "type": "variant"
        },
        {
          "type": "quantity"
        },
        {
          "type": "button"
        }
      ]
    }
  ]
}
{% endschema %}
