{%- capture bannerContent -%}
   {% if section.settings.banner_title != blank %}
   {% if section.settings.highlight_font == 'body' %}
   {% capture highlightStyle %}
   <span class="body-font">
   {% endcapture %}
   {% elsif section.settings.highlight_font == 'heading' %}
   {% capture highlightStyle %}
   <span class="heading-font">
   {% endcapture %}  
   {% else %}
   {% capture highlightStyle %}
   <span class="accent-font">
   {% endcapture %}  
   {% endif %}
   <{{ section.settings.seo_heading }} class="yv-image-banner-heading">
   {{ section.settings.banner_title | replace: "<strong>", highlightStyle | replace: "</strong>", '</span>' | replace: '++', '<br/>' }}
   </{{ section.settings.seo_heading }}>
   {% endif %}
   {% if section.settings.banner_desc != blank %}
   <div class="yv-image-banner-desc">
      <p>{{ section.settings.banner_desc | replace: '++', '<br/>' }}</p>
   </div>
   {% endif %}
   {% if section.blocks.size > 0 %}
    {% liquid 
      for block in section.blocks
         if forloop.first  
            if block.settings.collection.products.count > 0
                assign product_list_grid = true
            else
            assign product_list_grid = false
            endif
         endif
      endfor
     %}
   <div class="yv-banner-with-categories {% if product_list_grid and section.settings.block_display == 'category_products' %}hidden{% endif %}">
      {% for block in section.blocks %}
      {% liquid assign collection = block.settings.collection %}
    
      {% if section.settings.block_display == 'category_products' and product_list_grid %}
        {% if forloop.first %}
        {% capture product_grid %}
          <div class="banner-collection-product-list arrows-position-top">
            <div class="container">
              <div id="complementary_products-{{ section.id }}"  class="banner-collection-products-wrapper"
                {% if block.settings.collection.products.count > 2 %}
                  data-flickity-slider='
                    {"wrapAround":false,
                    "cellAlign": "left",
                    "dragThreshold":true,
                    "contain": true,
                    "groupCells": true,
                    "touchVerticalScroll": false,
                    "prevNextButtons": true,
                    "pageDots": false,
                    "arrowShape":"M50.1228 1.62718C48.1063 -0.542395 44.8369 -0.542395 42.8204 1.62718L1.51235 46.0716C-0.504121 48.2412 -0.504121 51.7588 1.51235 53.9284L42.8204 98.3728C44.8369 100.542 48.1063 100.542 50.1228 98.3728C52.1392 96.2032 52.1392 92.6857 50.1228 90.5161L17.6293 55.5556H94.8365C97.6882 55.5556 100 53.0682 100 50C100 46.9317 97.6882 44.4444 94.8365 44.4444H17.6293L50.1228 9.48393C52.1392 7.31435 52.1392 3.79676 50.1228 1.62718Z"}
                  '
                    {% endif %}
                >
                {%- for product in block.settings.collection.products limit: 6 -%}
                  <a href="{{ product.url }}"  class="banner-collection-product-item">
                    <div class="yv-complementary-product-img {% if settings.pass_through_product_images %} pass-through-color{% endif %}"  >
                      {%- if product.featured_media != blank -%}
                        <div  class="image-wrapper"  style="padding-bottom:100%" >
                          {%- render 'lazy-image',
                            image: product.featured_media.preview_image,
                            class: 'lazypreload',
                            width: '110x'
                          -%}
                        </div>
                      {%- else -%}
                        {{ 'product-1' | placeholder_svg_tag: 'placeholder-svg' }}
                      {%- endif -%}
                    </div>
                    <div class="banner-collection-product-detail">
                      <span class="">{{ product.title | strip_html }}</span>
                      <div class="yv-prizebox">
                        {%- assign price_min = product.price_min | money -%}
                        {%- if product.price_varies -%}
                          <span class="yv-product-price price-varies">
                            {{- 'products.product.price.from_price_html' | t: price: price_min -}}
                          </span>
                        {%- else -%}
                          <span class="yv-product-price">{{ price_min }}</span>
                        {%- endif -%}
                        {%- if product.compare_at_price_min > product.price_min -%}
                          <span class="yv-product-compare-price"> {{ product.compare_at_price_min | money }}</span>
                        {%- endif -%}
                      </div>
                    </div>
                  </a>
                {%- endfor -%}
              </div>
            </div>
          </div>
    {% endcapture %}
  {% endif %}
    {% else %}
      <div class="yv-banner-with-categories-item">
        <a href="{{ collection.url }}" tabindex="0">
           <div class="yv-parallex-collection-image yv-banner-with-categories-image">
              <div class="yv-media-box image-wrapper" style="padding-bottom:100%"> 
                 {% if block.settings.image != blank %}
                 {% render 'lazy-image', image: block.settings.image %}              
                 {% elsif collection.featured_image != blank %}
                 {% render 'lazy-image', image: collection.featured_image, sizes: '[375]' %}
                 {% else %}
                 {{ 'collection-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }} 
                 {% endif %} 
              </div>
           </div>
           <div class="yv-banner-with-categories-content">
              <div class="yv-banner-with-categories-collection-heading">
                 <h6 class="body-font text-large yv-banner-with-categories-title">
                    {% if block.settings.custom_title != blank %}
                    {{ block.settings.custom_title }}
                    {% else %}
                    {{ collection.title }}
                    {% endif %}
                 </h6>
              </div>
           </div>
        </a>
     </div>
      {% endif %}
      {% endfor %}   
   </div>
   {% endif %}
{% if section.settings.button_text != blank and section.settings.button_link != blank %}
<div class="yv-image-banner-button">
   <a class="button {{ section.settings.button_size }}-btn {{ section.settings.mobile_button_size }}-btn" href="{{ section.settings.button_link }}">
    {% if settings.buttonAnimation == 'animated-arrow'%}
      <span class="btn-animated-arrow"><svg fill="none" viewBox="0 0 8 8">
        <path fill="currentColor" fill-rule="evenodd" d="M0 0h8v8H7V1.707L1.354 7.354 1 7.707.293 7l.353-.354L6.293 1H0V0Z" clip-rule="evenodd"></path>
        </svg>
      </span>
    {% endif %}
    <span class="btn-txt">{{ section.settings.button_text }}</span>
   </a>
</div>
{% endif %}
{%- endcapture -%}
{% liquid assign contentPosition = section.settings.content_position | split: '-' %}
<div class="yv-image-banner-wrapper vertical-align-{{ contentPosition[0] }}">
   {% if bannerContent != blank %}
   <div class="container yv-image-banner-content text-align-{{ contentPosition[1] }}">
      <div class="yv-image-banner-content-inner">{{ bannerContent }}</div>
   </div>
   {% endif %}
{% if product_grid %}
   {{ product_grid }}
{% endif %}
   {% liquid
   assign aspectRatio = 100
   if section.settings.video != blank
   assign aspectRatio = 1 | divided_by: section.settings.video.preview_image.aspect_ratio | times: 100
   elsif section.settings.image != blank
   assign aspectRatio = 1 | divided_by: section.settings.image.aspect_ratio | times: 100
   endif
   %}
   {% if section.settings.enable_parallax %}
   <div
      class="yv-image-banner-parallax yv-parallax"
      data-media="{% if section.settings.video != blank %}video{% else %}image{% endif %}"
      >
      {% if section.settings.video != blank %}
      <deferred-media
         class="image-wrapper"
         style="padding-bottom:{{ aspectRatio }}%;position:relative"
         >
         <template style="display:none">
            {{
            section.settings.video
            | video_tag:
            image_size: '1100x',
            class: 'videoBackgroundFile',
            autoplay: true,
            loop: true,
            controls: false,
            muted: true
            }}
         </template>
         <noscript>
            <img 
               src="{{ section.settings.video.preview_image }}"
               loading="eager"
               alt="{{ section.settings.video.preview_image.alt | default: shop.name | strip_html }}"
               width="{{ section.settings.video.preview_image.width }}"
               height="{{ section.settings.video.preview_image.height }}"
               >
         </noscript>
      </deferred-media>
      {% else %}
      <div
         class="image-wrapper"
         style="padding-bottom:{{ aspectRatio }}%"
         >
          {% liquid
            assign mobileImage = false
            if section.settings.image_mobile != blank
              assign mobileImage = true
              assign mobileClass = 'mobile-img d-block d-md-none'
              render 'lazy-image', image: section.settings.image_mobile, class: mobileClass
            endif
                if mobileImage
                  assign desktopClass = 'd-none d-md-block '
                endif
           if section.settings.image != blank
              render 'lazy-image', image: section.settings.image, class: desktopClass
           elsif section.settings.image == blank and mobileImage
              echo 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg'
           else
              echo 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg'
           endif
           %}
      </div>
      {% endif %}
   </div>
   {% else %}
   <div class="yv-image-banner-background">
      {% if section.settings.video != blank %}
      <deferred-media
         class="image-wrapper"
         style="padding-bottom:{{ aspectRatio }}%;position:relative"
         >
         <template style="display:none">
            {{
            section.settings.video 
            | video_tag:
            image_size: '1100x',
            class: 'videoBackgroundFile',
            autoplay: true,
            loop: true,
            controls: false,
            muted: true
            }}
         </template>
      </deferred-media>
      {% else %}   
        {% liquid
          assign mobileImage = false
          if section.settings.image_mobile != blank
            assign mobileImage = true
            assign mobileClass = 'mobile-img d-block d-md-none'
            render 'lazy-image', image: section.settings.image_mobile, class: mobileClass
          endif
            if mobileImage
              assign desktopClass = 'd-none d-md-block '
              endif
          if section.settings.image != blank
            render 'lazy-image', image: section.settings.image, class: desktopClass
          elsif section.settings.image == blank and mobileImage
            echo 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg'
          else
          echo 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg'
          endif
          %}
      {% endif %}
   </div>
   {% endif %}
  </div>
<style>
   #shopify-section-{{ section.id }}{
   --bannerHeight:{{ section.settings.desktop_height }};
   --colorBtnPrimaryText:{{ section.settings.btn_text }};
   --colorBtnPrimary:{{ section.settings.btn_bg }};
   --colorBtnPrimaryBorder:{{ section.settings.btn_border }};
   --bannerOverlayOpacity:{{ section.settings.overlay_opacity | divided_by: 100.0 }};
   --bannerOverlayColor:{{ section.settings.overlay_color }};
   --borderColor:{{ section.settings.title_color }};
   }
   #shopify-section-{{ section.id }} .yv-image-banner-heading {
   color:{{ section.settings.title_color }};
   font-size: {{ section.settings.mobile_title_size }}px;
   }
   #shopify-section-{{ section.id }} .yv-image-banner-heading * {
   color:{{ section.settings.title_color }};
   }
   #shopify-section-{{ section.id }} .yv-banner-with-categories-title {
   color:{{ section.settings.title_color }};
   }
   #shopify-section-{{ section.id }} .yv-image-banner-desc p{
   color:{{ section.settings.desc_color }};
   }
   {% if section.blocks.size > 0 %}
    {% liquid 
      for block in section.blocks
         if forloop.first  
            if block.settings.collection.products.count > 0
                assign product_list_grid = true
            else
            assign product_list_grid = false
            endif
         endif
      endfor
     %}
   {% if product_list_grid and section.settings.block_display == 'category_products' %}
   #shopify-section-{{ section.id }} .yv-image-banner-wrapper {
    padding-bottom: var(--banner-grid-height) ;
  }
{% endif %}
{% endif %}
   @media screen and (min-width:768px){
   #shopify-section-{{ section.id }} .yv-image-banner-heading{
   font-size: calc({{ section.settings.desktop_title_size }}px * 0.65);
   }
   }
   @media screen and (min-width:1200px){
   #shopify-section-{{ section.id }} .yv-image-banner-heading{
   font-size: calc({{ section.settings.desktop_title_size }}px * 0.85);
   }
   }
   @media screen and (min-width:1441px){
   #shopify-section-{{ section.id }} .yv-image-banner-heading{
   font-size: {{ section.settings.desktop_title_size }}px;
   }
   }
   @media screen and (max-width:767px){
   #shopify-section-{{ section.id }}{
   --bannerHeight:{{ section.settings.mobile_height }};
   }
   }
   {% if section.settings.section_visibility == 'large' %}
   @media (max-width: 767px) {
   #shopify-section-{{ section.id }}{
   display: none !important;
   }
   }
   {% elsif section.settings.section_visibility == 'small' %}
   @media (min-width: 768px) {
   #shopify-section-{{ section.id }}{
   display: none !important;
   }
   }
   {% endif %}
</style>
{% schema %}
{
  "name": "t:sections.image_banner.name",
  "tag": "section",
  "class": "image-banner-section",
  "max_blocks": 6,
  "disabled_on": {
    "groups": [
      "header",
      "footer"
    ]
  },
  "settings": [
    {
      "type": "checkbox",
      "id": "enable_parallax",
      "label": "t:sections.image_banner.settings.enable_parallax.label",
      "default": true
    },
    {
      "type": "select",
      "id": "section_visibility",
      "label": "t:common.section_visibility.label",
      "default": "always",
      "options": [
        {
          "label": "t:common.section_visibility.options.always.label",
          "value": "always"
        },
        {
          "label": "t:common.section_visibility.options.small_devices.label",
          "value": "small"
        },
        {
          "label": "t:common.section_visibility.options.large_devices.label",
          "value": "large"
        }
      ]
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.image_banner.settings.image.label"
    },
    {
      "type": "image_picker",
      "id": "image_mobile",
      "label": "t:sections.image_banner.settings.image_mobile.label"
    },
    {
      "type": "video",
      "id": "video",
      "label": "t:sections.image_banner.settings.video.label"
    },
    {
      "type": "select",
      "id": "desktop_height",
      "label": "t:sections.image_banner.settings.desktop_height.label",
      "default": "550px",
      "options": [
        {
          "value": "350px",
          "label": "350px"
        },
        {
          "value": "550px",
          "label": "550px"
        },
        {
          "value": "750px",
          "label": "750px"
        },
        {
          "value": "100vh",
          "label": "t:sections.image_banner.settings.fullscreen.label"
        }
      ]
    },
    {
      "type": "select",
      "id": "mobile_height",
      "label": "t:sections.image_banner.settings.mobile_height.label",
      "default": "500px",
      "options": [
        {
          "value": "300px",
          "label": "300px"
        },
        {
          "value": "500px",
          "label": "500px"
        },
        {
          "value": "700px",
          "label": "700px"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:common.header.block_display.label"
    },
    {
      "type": "select",
      "id": "block_display",
      "label": "t:sections.image_banner.blocks.settings.block_display.label",
      "default": "categories",
      "info": "t:sections.image_banner.blocks.settings.block_display.info",
      "options": [
        {
          "value": "categories",
          "label": "t:sections.image_banner.blocks.settings.block_display.options.categories.label"
        },
        {
          "value": "category_products",
          "label": "t:sections.image_banner.blocks.settings.block_display.options.category_products.label"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:common.header.text_section.label"
    },
    {
      "type": "inline_richtext",
      "id": "banner_title",
      "label": "t:sections.image_banner.settings.banner_title.label",
      "info": "t:common.highlight_text_and_break_text.info",
      "default": "Banner Heading Here"
    },
    {
      "type": "select",
      "id": "highlight_font",
      "default": "body",
      "label": "t:common.highlight_font.label",
      "options": [
        {
          "value": "body",
          "label": "t:common.highlight_font.options.body.label"
        },
        {
          "value": "heading",
          "label": "t:common.highlight_font.options.heading.label"
        },
        {
          "value": "accent",
          "label": "t:common.highlight_font.options.accent.label"
        }
      ]
    },
    {
      "type": "select",
      "id": "seo_heading",
      "label": "t:common.header.heading_tag.label",
      "info": "t:common.header.heading_tag.info",
      "default": "h2",
      "options": [
        {
          "value": "h1",
          "label": "t:common.header.heading_tag.options.h1.label"
        },
        {
          "value": "h2",
          "label": "t:common.header.heading_tag.options.h2.label"
        },
        {
          "value": "h3",
          "label": "t:common.header.heading_tag.options.h3.label"
        },
        {
          "value": "h4",
          "label": "t:common.header.heading_tag.options.h4.label"
        },
        {
          "value": "h5",
          "label": "t:common.header.heading_tag.options.h5.label"
        },
        {
          "value": "h6",
          "label": "t:common.header.heading_tag.options.h6.label"
        }
      ]
    },
    {
      "type": "range",
      "id": "desktop_title_size",
      "label": "t:sections.image_banner.settings.desktop_title_size.label",
      "default": 70,
      "max": 100,
      "min": 26,
      "step": 2,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "mobile_title_size",
      "label": "t:sections.image_banner.settings.mobile_title_size.label",
      "default": 36,
      "max": 40,
      "min": 26,
      "step": 2,
      "unit": "px"
    },
    {
      "type": "text",
      "id": "banner_desc",
      "label": "t:sections.image_banner.settings.banner_desc.label",
      "default": "Banner Description Here",
      "info": "t:common.line_break_text.info"
    },
    {
      "type": "paragraph",
      "content": "t:common.header.button_section.label"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "t:sections.image_banner.settings.button_text.label",
      "default": "Shop Now"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "t:sections.image_banner.settings.button_link.label",
      "default": "/collections/all"
    },
    {
      "type": "paragraph",
      "content": "t:common.button.fullname.label"
    },
    {
      "type": "select",
      "id": "button_size",
      "default": "small",
      "label": "t:sections.image_banner.settings.desktop.label",
      "options": [
        {
          "value": "default",
          "label": "t:common.button.options.default.label"
        },
        {
          "value": "small",
          "label": "t:common.button.options.small.label"
        },
        {
          "value": "med",
          "label": "t:common.button.options.medium.label"
        },
        {
          "value": "large",
          "label": "t:common.button.options.large.label"
        }
      ]
    },
    {
      "type": "select",
      "id": "mobile_button_size",
      "default": "m-small",
      "label": "t:sections.image_banner.settings.mobile.label",
      "options": [
        {
          "value": "m-default",
          "label": "t:common.button.options.default.label"
        },
        {
          "value": "m-small",
          "label": "t:common.button.options.small.label"
        },
        {
          "value": "m-med",
          "label": "t:common.button.options.medium.label"
        },
        {
          "value": "m-large",
          "label": "t:common.button.options.large.label"
        }
      ]
    },
    {
      "type": "select",
      "id": "content_position",
      "label": "t:sections.image_banner.settings.content_position.label",
      "default": "center-center",
      "options": [
        {
          "value": "top-left",
          "label": "t:common.content_position.options.top-left.label"
        },
        {
          "value": "top-center",
          "label": "t:common.content_position.options.top-center.label"
        },
        {
          "value": "top-right",
          "label": "t:common.content_position.options.top-right.label"
        },
        {
          "value": "center-left",
          "label": "t:common.content_position.options.center-left.label"
        },
        {
          "value": "center-center",
          "label": "t:common.content_position.options.center.label"
        },
        {
          "value": "center-right",
          "label": "t:common.content_position.options.center-right.label"
        },
        {
          "value": "bottom-left",
          "label": "t:common.content_position.options.bottom-left.label"
        },
        {
          "value": "bottom-center",
          "label": "t:common.content_position.options.bottom-center.label"
        },
        {
          "value": "bottom-right",
          "label": "t:common.content_position.options.bottom-right.label"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.image_banner.settings.header1.content"
    },
    {
      "type": "color",
      "id": "title_color",
      "label": "t:sections.image_banner.settings.title_color.label",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "desc_color",
      "label": "t:sections.image_banner.settings.desc_color.label",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "btn_bg",
      "label": "t:sections.image_banner.settings.btn_bg.label",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "btn_text",
      "label": "t:sections.image_banner.settings.btn_text.label",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "btn_border",
      "label": "t:sections.image_banner.settings.btn_border.label",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "overlay_color",
      "label": "t:sections.image_banner.settings.overlay_color.label"
    },
    {
      "type": "range",
      "id": "overlay_opacity",
      "label": "t:sections.image_banner.settings.overlay_opacity.label",
      "default": 50,
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%"
    }
  ],
  "blocks": [
    {
      "type": "categories",
      "name": "t:sections.image_banner.blocks.categories.name",
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "t:sections.image_banner.blocks.settings.collection.label"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.image_banner.blocks.settings.image.label"
        },
        {
          "type": "text",
          "id": "custom_title",
          "label": "Custom title"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.image_banner.presets.name"
    }
  ]
}
{% endschema %}