<link rel="preload" as="style" href="{{ 'media-grid.css' | asset_url }}">
{{ 'media-grid.css' | asset_url | stylesheet_tag }}

<div class="{% if settings.layout_width == 'boxed' %}container{% else %}container-fluid{% endif %}">  
  {% if section.settings.heading != blank or section.settings.description != blank %}
    {% if section.settings.highlight_font == 'body' %}
        {% capture highlightStyle %}
        <span class="body-font">
        {% endcapture %}
      {% elsif section.settings.highlight_font == 'heading' %}
      {% capture highlightStyle %}
         <span class="heading-font">
      {% endcapture %}  
      {% else %}
      {% capture highlightStyle %}
         <span class="accent-font">
      {% endcapture %}  
    {% endif %} 

    <div class="section-heading" {% if settings.enable_animation %}data-aos="fade-up" data-aos-delay="200"{% endif %}>
      <{{ section.settings.seo_heading }} class="section-heading-title {{ section.settings.heading_size }}">
          {{ section.settings.heading | replace: "<strong>", highlightStyle | replace: "</strong>", '</span>' | replace: '++', '<br/>' }}
      </{{ section.settings.seo_heading }}>
      {% if section.settings.description != blank %}
        <div class="section-heading-desc" {% if settings.enable_animation %}data-aos="fade-up" data-aos-delay="200"{% endif %}>
          {{
            section.settings.description
            | replace: '<p></p>', '<br />'
            | replace: '<h1></h1>', '<br />'
            | replace: '<h2></h2>', '<br />'
            | replace: '<h3></h3>', '<br />'
            | replace: '<h4></h4>', '<br />'
            | replace: '<h5></h5>', '<br />'
            | replace: '<h6></h6>', '<br />'
          }}
        </div>
      {% endif %}
    </div>
  {% endif %}
    <div class="yv-media-grid-wrapper">      
      {% if section.blocks.size > 0 %}
        <div class="media-grid-content">
          {% for block in section.blocks %}
            {% assign aosDelay = forloop.index | times: 50 %}
            {% capture image_content %}
              <div class="media-grid-image" id="blockMedia-{{ block.id }}">                
                 {% if block.settings.video != blank %}    
                    {% if block.settings.autoplay_video == false %}               
                      {% assign video_autoplay = block.settings.autoplay_video %}
                    {% else %}
                      {% assign video_autoplay = true %}
                    {% endif %}
                    <deferred-media class="image-wrapper" {% if video_autoplay == false %}data-id="media-grid-autodisable"{% endif %}>
                      {% if video_autoplay == false %}
                        {% assign poster = '' %}
                        {% if block.settings.poster != blank %}
                          {% assign poster = block.settings.poster | image_url: width: 1100 %} 
                        {% endif %}
                        {{ block.settings.video | video_tag: image_size: '1100x', class: 'videoBackgroundFile', autoplay:video_autoplay, loop:true, controls: false, muted:true, poster: poster }} 
                        <div class="video-overlay-text video-autoplay-{{ video_autoplay }}" style="display:{%- if video_autoplay == true -%}none{% endif %}">
                            <div class="video-overlay-text-content">  
                              <button class="video-play-btn" aria-label="{{ 'general.video.button' | t }}">
                                <svg width="21" height="24" viewBox="0 0 21 24" fill="none">
                                  <path d="M19.5318 9.90372C20.8651 10.6735 20.8651 12.598 19.5318 13.3678L3.18776 22.8041C1.85443 23.5739 0.187758 22.6116 0.187758 21.072L0.187759 2.19954C0.187759 0.659939 1.85443 -0.302315 3.18776 0.467486L19.5318 9.90372Z" fill="currentcolor"/>
                                </svg>
                              </button>
                            </div>
                          </div>                             
                      {% else %}
                        <template style="display:none">
                          {{ block.settings.video | video_tag: image_size: '1100x', class: 'videoBackgroundFile', autoplay:video_autoplay, loop:true, controls: false, muted:true }} 
                        </template>    
                          <noscript>
                            <img 
                              src="{{ block.settings.video.preview_image | image_url }}"
                              loading="eager"
                              alt="{{ block.settings.video.preview_image.alt | default: shop.name | strip_html }}"
                              width="{{ block.settings.video.preview_image.width }}"
                              height="{{ block.settings.video.preview_image.height }}"
                            >
                          </noscript>  
                      {% endif %}         
                {% else %}
                <div class="image-wrapper">                     
                      {% if block.settings.image_mobile != blank %}
                       <img src="{{ block.settings.image_mobile | img_url: 'master' }}" alt="{{ block.settings.image_mobile.alt }}" class="mobile-img d-block d-md-none" loading="lazy" class="lazyload  {{ class }}">
                      {% endif %}
                      {%- if block.settings.media_image != blank -%}
                        <img src="{{ block.settings.media_image | img_url: 'master' }}" alt="{{ block.settings.media_image.alt }}" class="media_image{% if block.settings.image_mobile != blank %} d-none d-md-block{% endif %}" loading="lazy" class="lazyload  {{ class }}">                      
                      {%- else -%}
                        {% liquid
                          assign placeholderClass = 'placeholder-svg'
                          if block.settings.image_mobile != blank
                          assign placeholderClass = 'placeholder-svg d-none d-md-block'
                          endif
                        %}
                        {{ 'lifestyle-1' | placeholder_svg_tag: placeholderClass }}
                      {%- endif -%}             
                    {% if block.settings.video != blank %} 
                  </deferred-media>
                    {% else %}
                    </div>
                    {% endif %}
                  {% endif %}         
                </div>      
            {% endcapture %}
            <{% if block.settings.link_url != blank %}a href="{{ block.settings.link_url }}" {% else %}div{% endif %} id="media-grid-{{ block.id }}" class="media-grid-item media-grid-item-{{ forloop.index }} {{ block.type }}" {{ block.shopify_attributes }} {% if settings.enable_animation %}data-aos="fade-up" data-aos-delay="{{ aosDelay }}"{% endif %} 
              style="--layoutRadius:{% if settings.layout_style == 'rounded' %}10px{% else %}0px{% endif %};">
               {% if block.type != 'image-bottom-text-top' %}
                 {{ image_content }}
               {% endif %}
              {% if block.settings.heading != blank or block.settings.description != blank %}
                <div class="media-content content-position-{{ block.settings.content_position }} text-{{ block.settings.content_alignment }}">
                  <div class="media-content-inner">
                    {% if block.settings.heading != blank %}
                      <{{ block.settings.seo_heading }} class="media-content-heading {{ block.settings.heading_size }}">{{ block.settings.heading | replace: '++', '<br/>' }}</{{ block.settings.seo_heading }}>
                    {% endif %}
                    {% if block.settings.description != blank %}
                      <div class="media-content-description">{{ block.settings.description | newline_to_br  }}</div>
                    {% endif %}
                  </div>
                </div>
              {% endif %}
              {% if block.type== 'image-bottom-text-top' %}
                {{ image_content }}
              {% endif %}
            </{% if block.settings.link_url != blank %}a {% else %}div{% endif %}>
          {% endfor %}
        </div>
      {% endif %}
      </div>
</div>
<style>
  {% comment %} .mobile-img {
    display: block !important;
  } {% endcomment %}

  {% if section.blocks.size > 0 %}
    {% for block in section.blocks %}
      {% if block.type == 'image-left-text-right' %}
        #media-grid-{{ block.id }} {
          --height-scale: {{- block.settings.image_height_scale -}}%;
          --width-scale: {{- block.settings.image_width_scale  | divided_by : 100.00 -}}fr;
        }
      {% endif %}
      #media-grid-{{ block.id }} {
      --row:{{ block.settings.row }};
      --column:{{ block.settings.column }};
      --content-bg: {{ block.settings.background_color.red }},{{ block.settings.background_color.green }},{{ block.settings.background_color.blue }};
      --content-bg-alpha: {{ block.settings.background_opacity | divided_by: 100.0 }};  
      --column-background:{{ block.settings.column_background }};
      }
      {% if section.settings.card_border == true %}
        #media-grid-{{ block.id }}{
          border: 1px solid {{ block.settings.card_border_color }};
        } 
      {% endif %}
      #media-grid-{{ block.id }} .video-overlay-text .video-play-btn{
        color:{{- block.settings.play_btn_color -}};
      }
      #media-grid-{{ block.id }} .media-content-heading {
        color: {{ block.settings.heading_color }};        
      }

      #media-grid-{{ block.id }} .media-content-description{
        color: {{ block.settings.text_color }};
      }
    {% endfor %}
  {% endif %}
  @media (max-width:767px) {
    {% if section.blocks.size > 0 %}
      {% for block in section.blocks %}
        #media-grid-{{ block.id }}{
          --row:{{ block.settings.row_mobile }};
          --column:{{ block.settings.column_mobile }};
        }
      {% endfor %}
    {% endif %}
  }

  #shopify-section-{{ section.id }}{
    padding-top:{{ section.settings.top_space_desktop }}px;
    padding-bottom:{{ section.settings.bottom_space_desktop }}px;
    background:var(--{{- section.settings.bgcolor -}}ColorBody);
  {%- unless section.settings.bgcolor == 'primary' or section.settings.bgcolor == 'gradient' -%}
  --primaryColorBody:var(--{{- section.settings.bgcolor -}}ColorBody);
  {%- endunless -%}
    --desktop-height: {{ section.settings.desktop_row_height }}px;
    --mobile-height:{{ section.settings.mobile_row_height }}px;
    --highlight-text: {{ section.settings.highlighted_color }};
    --column-gap:{{ section.settings.desktop_grid_gap }}px;
  } 

  @media only screen and (max-width:767px) {
    #shopify-section-{{ section.id }}{
        padding-top:{{ section.settings.top_space_mobile }}px;
        padding-bottom:{{ section.settings.bottom_space_mobile }}px;
      --column-gap:{{ section.settings.mobile_grid_gap }}px;
    }
  }
  {% if section.settings.section_visibility == 'large' %}
    @media (max-width: 767px) {
      #shopify-section-{{ section.id }}{
        display: none !important;
      }
    }
  {% elsif section.settings.section_visibility == 'small' %}
    @media (min-width: 768px) {
      #shopify-section-{{ section.id }}{
        display: none !important;
      } 
    }
  {% endif %}
</style>
{% schema %}
{
  "name": "t:sections.media-grid.name",
  "tag": "section",
  "class": "media-grid",
  "disabled_on": {
    "groups": [
      "header",
      "footer"
    ]
  },
  "settings": [
    {
        "type": "select",
        "id": "section_visibility",
        "label": "t:common.section_visibility.label",
        "default": "always",
        "options": [
          {
            "label": "t:common.section_visibility.options.always.label",
            "value": "always"
          },
          {
            "label": "t:common.section_visibility.options.small_devices.label",
            "value": "small"
          },
          {
            "label": "t:common.section_visibility.options.large_devices.label",
            "value": "large"
          }
        ]
      },    
    {
      "type": "range",
      "id": "desktop_row_height",
      "label": "t:sections.media-grid.settings.desktop_row_height.label",
      "default": 150,
      "min": 150,
      "max": 400,
      "unit": "px",
      "step": 5
    },
    {
      "type": "range",
      "id": "mobile_row_height",
      "label": "t:sections.media-grid.settings.mobile_row_height.label",
      "default": 100,
      "min": 100,
      "max": 300,
      "unit": "px",
      "step": 5
    },
    {
      "type": "header",
      "content": "t:sections.media-grid.settings.grid_column_gap.label"
    },
    {
      "type": "range",
      "id": "desktop_grid_gap",
      "label": "t:common.desktop.label",
      "default": 14,
      "min": 0,
      "max": 20,
      "step": 1
    },
    {
      "type": "range",
      "id": "mobile_grid_gap",
      "label": "t:common.mobile.label",
      "default": 6,
      "min": 0,
      "max": 20,
      "step": 1
    },
    {
        "type": "header",
        "content": "t:common.header.text_section.label"
      },
    {
        "type": "inline_richtext",
        "id": "heading",
        "default": "Heading",
        "label": "t:common.highlight_font.options.heading.label",
        "info": "t:common.highlight_text_and_break_text.info"
    },
    {
        "type": "select",
        "id": "highlight_font",
        "default": "body",
        "label": "t:common.highlight_font.label",
        "options": [
          {
            "value": "body",
            "label": "t:common.highlight_font.options.body.label"
          },
          {
            "value": "heading",
            "label": "t:common.highlight_font.options.heading.label"
          },
          {
            "value": "accent",
            "label": "t:common.highlight_font.options.accent.label"
          }
        ]
      },
    {
        "type": "select",
        "id": "heading_size",
        "label": "t:common.heading_size.label",
        "default": "h2",
        "options": [
          {
            "value": "h1",
            "label": "t:common.header.heading_tag.options.h1.label"
          },
          {
            "value": "h2",
            "label": "t:common.header.heading_tag.options.h2.label"
          },
          {
            "value": "h3",
            "label": "t:common.header.heading_tag.options.h3.label"
          },
          {
            "value": "h4",
            "label": "t:common.header.heading_tag.options.h4.label"
          },
          {
            "value": "h5",
            "label": "t:common.header.heading_tag.options.h5.label"
          },
          {
            "value": "h6",
            "label": "t:common.header.heading_tag.options.h6.label"
          }
        ]
      },
    {
        "type": "select",
        "id": "seo_heading",
        "label": "t:common.header.heading_tag.label",
        "info": "t:common.header.heading_tag.info",
        "default": "h2",
        "options": [
          {
            "value": "h1",
            "label": "t:common.header.heading_tag.options.h1.label"
          },
          {
            "value": "h2",
            "label": "t:common.header.heading_tag.options.h2.label"
          },
          {
            "value": "h3",
            "label": "t:common.header.heading_tag.options.h3.label"
          },
          {
            "value": "h4",
            "label": "t:common.header.heading_tag.options.h4.label"
          },
          {
            "value": "h5",
            "label": "t:common.header.heading_tag.options.h5.label"
          },
          {
            "value": "h6",
            "label": "t:common.header.heading_tag.options.h6.label"
          }
        ]
      },
      {
        "type": "richtext",
        "label": "t:sections.social_media_gallery.settings.description.label",
        "id": "description",
        "default": "<p>Description here</p>"
      },  
      {
        "type": "header",
        "content": "t:common.card.label"
      },      
      {
        "type": "checkbox",
        "id": "card_border",
        "label": "t:sections.media-grid.settings.enable_card_border.label",
        "default": false         
      },
    {
        "type": "header",
        "content": "t:common.header.color_section.label"
    },
    {
        "type": "select",
        "id": "bgcolor",
        "label": "t:common.header.background_section.label",
        "default": "primary",
        "options": [
          {
            "value": "primary",
            "label": "t:common.header.primary.label"
          },
          {
            "value": "secondary",
            "label": "t:common.header.secondary.label"
          },
          {
            "value": "tertiary",
            "label": "t:common.header.tertiary.label"
          },
          {
            "value": "quaternary",
            "label": "t:common.header.quaternary.label"
          },
          {
            "value": "gradient",
            "label": "t:common.header.gradient.label"
          }
        ]
      },
    {
        "type": "header",
        "content": "t:common.header.space_section.label"
      },
      {
        "type": "range",
        "id": "top_space_desktop",
        "label": "t:common.top_space_desktop.label",
        "default": 40,
        "min": 0,
        "max": 100,
        "step": 5
      },
      {
        "type": "range",
        "id": "bottom_space_desktop",
        "label": "t:common.bottom_space_desktop.label",
        "default": 15,
        "min": 0,
        "max": 100,
        "step": 5
      },
      {
        "type": "range",
        "id": "top_space_mobile",
        "label": "t:common.top_space_mobile.label",
        "default": 15,
        "min": 0,
        "max": 100,
        "step": 5
      },
      {
        "type": "range",
        "id": "bottom_space_mobile",
        "label": "t:common.bottom_space_mobile.label",
        "default": 15,
        "min": 0,
        "max": 100,
        "step": 5
      }
  ],
  "blocks": [
    {
      "type": "image-left-text-right",
      "name": "t:sections.media-grid.blocks.image_left_text_right.label",
      "settings": [
        {
          "type": "image_picker",
          "id": "media_image",
          "label": "t:sections.media-grid.blocks.settings.media_image.label"
        },
        {
          "type": "image_picker",
          "id": "image_mobile",
          "label": "t:sections.media-grid.blocks.settings.image_mobile.label"
        },     
        { 
          "type": "range",
          "id": "image_width_scale",
          "label": "t:sections.media-grid.blocks.settings.image_width_scale.label",
          "default": 20,
          "min": 20,
          "max": 100,
          "step": 5,
          "unit": "%"
        },   
        { 
          "type": "range",
          "id": "image_height_scale",
          "label": "t:sections.media-grid.blocks.settings.image_height_scale.label",
          "default": 20,
          "min": 20,
          "max": 100,
          "step": 5,
          "unit": "%"
        },   
        {
          "type": "header",
          "content": "t:common.card.label"
        },
        {
          "type": "paragraph",
          "content": "t:common.desktop.label"
        },
        {
          "type": "range",
          "id": "column",
          "label": "t:sections.media-grid.blocks.settings.column.label",
          "default": 2,
          "min": 1,
          "max": 6,
          "step": 1
        },
        {
          "type": "range",
          "id": "row",
          "label": "t:sections.media-grid.blocks.settings.row.label",
          "default": 1,
          "min": 1,
          "max": 6,
          "step": 1
        },
        {
          "type": "paragraph",
          "content": "t:common.mobile.label"
        },
        {
          "type": "radio",
          "id": "column_mobile",
          "label": "t:sections.media-grid.blocks.settings.column.label",
          "default": "2",
          "options": [
            {
              "value": "1",
              "label": "1"
            },
            {
              "value": "2",
              "label": "2"
            }
          ]
        },
        {
          "type": "radio",
          "id": "row_mobile",
          "label": "t:sections.media-grid.blocks.settings.row.label",
          "default": "2",
          "options": [
            {
              "value": "1",
              "label": "1"
            },
            {
              "value": "2",
              "label": "2"
            }
          ]
        },    
        {
          "type": "select",
          "id": "content_alignment",
          "label": "t:sections.media-grid.blocks.settings.text_alignment.label",
          "default": "left",
          "options": [
            {
              "label": "t:sections.media-grid.blocks.settings.text_alignment.left.label",
              "value": "left"
            },
            {
              "label": "t:sections.media-grid.blocks.settings.text_alignment.center.label",
              "value": "center"
            },
            {
              "label": "t:sections.media-grid.blocks.settings.text_alignment.right.label",
              "value": "right"
            }
          ]
        },
        {
          "type": "header",
          "content": "t:common.header.content_section.label"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "t:common.highlight_font.options.heading.label",
          "default": "Heading",
          "info": "t:common.line_break_text.info"
        },
        {
          "type": "select",
          "id": "heading_size",
          "label": "t:common.heading_size.label",
          "default": "h2",
          "options": [
            {
              "value": "h1",
              "label": "t:common.header.heading_tag.options.h1.label"
            },
            {
              "value": "h2",
              "label": "t:common.header.heading_tag.options.h2.label"
            },
            {
              "value": "h3",
              "label": "t:common.header.heading_tag.options.h3.label"
            },
            {
              "value": "h4",
              "label": "t:common.header.heading_tag.options.h4.label"
            },
            {
              "value": "h5",
              "label": "t:common.header.heading_tag.options.h5.label"
            },
            {
              "value": "h6",
              "label": "t:common.header.heading_tag.options.h6.label"
            }
          ]
        },
        {
            "type": "select",
            "id": "seo_heading",
            "label": "t:common.header.heading_tag.label",
            "info": "t:common.header.heading_tag.info",
            "default": "h2",
            "options": [
              {
                "value": "h1",
                "label": "t:common.header.heading_tag.options.h1.label"
              },
              {
                "value": "h2",
                "label": "t:common.header.heading_tag.options.h2.label"
              },
              {
                "value": "h3",
                "label": "t:common.header.heading_tag.options.h3.label"
              },
              {
                "value": "h4",
                "label": "t:common.header.heading_tag.options.h4.label"
              },
              {
                "value": "h5",
                "label": "t:common.header.heading_tag.options.h5.label"
              },
              {
                "value": "h6",
                "label": "t:common.header.heading_tag.options.h6.label"
              }
            ]
          },
          {
            "type": "textarea",
            "id": "description",
            "label": "t:sections.split-banner.blocks.settings.description.label",
            "default": "t:sections.media-grid.blocks.settings.description.info"
        },    
        {
          "type": "url",
          "id": "link_url",
          "label": "t:sections.media-grid.blocks.settings.link_url.label"
        },        
        {
          "type": "header",
          "content": "t:common.header.color_section.label"
        },
        {
          "type": "color",
          "id": "column_background",
          "label": "t:sections.media-grid.blocks.settings.column_background.label",
          "default": "#EFEFEF"
        },
        {
          "type": "color",
          "id": "heading_color",
          "label": "t:sections.media-grid.blocks.settings.heading_color.label",
          "default": "#000000"
        },
        {
          "type": "color",
          "id": "text_color",
          "label": "t:sections.media-grid.blocks.settings.text_color.label",
          "default": "#484848"
        },
        {
          "type": "color",
          "id": "card_border_color",
          "label": "t:sections.media-grid.blocks.settings.card_border_color.label",
          "default": "#E9E9E9"
        }
      ]
    },
    {
      "type": "image-bottom-text-top",
      "name": "t:sections.media-grid.blocks.image_bottom_text_top.label",
      "settings": [
        {
          "type": "image_picker",
          "id": "media_image",
          "label": "t:sections.media-grid.blocks.settings.media_image.label"
        },
        {
          "type": "image_picker",
          "id": "image_mobile",
          "label": "t:sections.media-grid.blocks.settings.image_mobile.label"
        },
        {
          "type": "header",
          "content": "t:common.video.label"
        },
        {
          "type": "video",
          "id": "video",
          "label": "t:sections.media-grid.blocks.settings.video.label"
        },
        {
          "type": "image_picker",
          "id": "poster",
          "label": "t:sections.video-banner.settings.poster.label"
        },
        {
          "type": "checkbox",
          "id": "autoplay_video",
          "label": "t:sections.video-banner.settings.autoplay.label",
          "default": false
        },
        {
          "type": "header",
          "content": "t:common.card.label"
        },
        {
          "type": "paragraph",
          "content": "t:common.desktop.label"
        },
        {
          "type": "range",
          "id": "column",
          "label": "t:sections.media-grid.blocks.settings.column.label",
          "default": 2,
          "min": 1,
          "max": 6,
          "step": 1
        },
        {
          "type": "range",
          "id": "row",
          "label": "t:sections.media-grid.blocks.settings.row.label",
          "default": 2,
          "min": 1,
          "max": 6,
          "step": 1
        },
        {
          "type": "paragraph",
          "content": "t:common.mobile.label"
        },
        {
          "type": "radio",
          "id": "column_mobile",
          "label": "t:sections.media-grid.blocks.settings.column.label",
          "default": "2",
          "options": [
            {
              "value": "1",
              "label": "1"
            },
            {
              "value": "2",
              "label": "2"
            }
          ]
        },
        {
          "type": "radio",
          "id": "row_mobile",
          "label": "t:sections.media-grid.blocks.settings.row.label",
          "default": "2",
          "options": [
            {
              "value": "1",
              "label": "1"
            },
            {
              "value": "2",
              "label": "2"
            }
          ]
        },
        {
          "type": "select",
          "id": "content_alignment",
          "label": "t:sections.media-grid.blocks.settings.text_alignment.label",
          "default": "center",
          "options": [
            {
              "label": "t:sections.media-grid.blocks.settings.text_alignment.left.label",
              "value": "left"
            },
            {
              "label": "t:sections.media-grid.blocks.settings.text_alignment.center.label",
              "value": "center"
            },
            {
              "label": "t:sections.media-grid.blocks.settings.text_alignment.right.label",
              "value": "right"
            }
          ]
        },
        {
          "type": "header",
          "content": "t:common.header.content_section.label"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "t:common.highlight_font.options.heading.label",
          "default": "Heading",
          "info": "t:common.line_break_text.info"
        },
        {
          "type": "select",
          "id": "heading_size",
          "label": "t:common.heading_size.label",
          "default": "h2",
          "options": [
            {
              "value": "h1",
              "label": "t:common.header.heading_tag.options.h1.label"
            },
            {
              "value": "h2",
              "label": "t:common.header.heading_tag.options.h2.label"
            },
            {
              "value": "h3",
              "label": "t:common.header.heading_tag.options.h3.label"
            },
            {
              "value": "h4",
              "label": "t:common.header.heading_tag.options.h4.label"
            },
            {
              "value": "h5",
              "label": "t:common.header.heading_tag.options.h5.label"
            },
            {
              "value": "h6",
              "label": "t:common.header.heading_tag.options.h6.label"
            }
          ]
        },
        {
            "type": "select",
            "id": "seo_heading",
            "label": "t:common.header.heading_tag.label",
            "info": "t:common.header.heading_tag.info",
            "default": "h2",
            "options": [
              {
                "value": "h1",
                "label": "t:common.header.heading_tag.options.h1.label"
              },
              {
                "value": "h2",
                "label": "t:common.header.heading_tag.options.h2.label"
              },
              {
                "value": "h3",
                "label": "t:common.header.heading_tag.options.h3.label"
              },
              {
                "value": "h4",
                "label": "t:common.header.heading_tag.options.h4.label"
              },
              {
                "value": "h5",
                "label": "t:common.header.heading_tag.options.h5.label"
              },
              {
                "value": "h6",
                "label": "t:common.header.heading_tag.options.h6.label"
              }
            ]
          },
          {
            "type": "textarea",
            "id": "description",
            "label": "t:sections.split-banner.blocks.settings.description.label",
            "default": "t:sections.media-grid.blocks.settings.description.info"
        },    
        {
          "type": "url",
          "id": "link_url",
          "label": "t:sections.media-grid.blocks.settings.link_url.label"
        },        
        {
          "type": "header",
          "content": "t:common.header.color_section.label"
        },
        {
          "type": "color",
          "id": "column_background",
          "label": "t:sections.media-grid.blocks.settings.column_background.label",
          "default": "#EFEFEF"
        },
        {
          "type": "color",
          "id": "heading_color",
          "label": "t:sections.media-grid.blocks.settings.heading_color.label",
          "default": "#000000"
        },
        {
          "type": "color",
          "id": "text_color",
          "label": "t:sections.media-grid.blocks.settings.text_color.label",
          "default": "#484848"
        },
        {
          "type": "color",
          "id": "card_border_color",
          "label": "t:sections.media-grid.blocks.settings.card_border_color.label",
          "default": "#E9E9E9"
        },
        {
          "type": "color",
          "id": "play_btn_color",
          "label": "t:sections.media-grid.blocks.settings.play_button_color.label",
          "default": "#FFFFFF"
        },
      ]
    },
    {
      "type": "image-top-text-bottom",
      "name": "t:sections.media-grid.blocks.image_top_text_bottom.label",
      "settings": [
        {
          "type": "image_picker",
          "id": "media_image",
          "label": "t:sections.media-grid.blocks.settings.media_image.label"
        },
        {
          "type": "image_picker",
          "id": "image_mobile",
          "label": "t:sections.media-grid.blocks.settings.image_mobile.label"
        },
        {
          "type": "header",
          "content": "t:common.video.label"
        },
        {
          "type": "video",
          "id": "video",
          "label": "t:sections.media-grid.blocks.settings.video.label"
        },
        {
          "type": "image_picker",
          "id": "poster",
          "label": "t:sections.video-banner.settings.poster.label"
        },
        {
          "type": "checkbox",
          "id": "autoplay_video",
          "label": "t:sections.video-banner.settings.autoplay.label",
          "default": false
        },
        {
          "type": "header",
          "content": "t:common.card.label"
        },
        {
          "type": "paragraph",
          "content": "t:common.desktop.label"
        },
        {
          "type": "range",
          "id": "column",
          "label": "t:sections.media-grid.blocks.settings.column.label",
          "default": 2,
          "min": 1,
          "max": 6,
          "step": 1
        },
        {
          "type": "range",
          "id": "row",
          "label": "t:sections.media-grid.blocks.settings.row.label",
          "default": 2,
          "min": 1,
          "max": 6,
          "step": 1
        },
        {
          "type": "paragraph",
          "content": "t:common.mobile.label"
        },
        {
          "type": "radio",
          "id": "column_mobile",
          "label": "t:sections.media-grid.blocks.settings.column.label",
          "default": "2",
          "options": [
            {
              "value": "1",
              "label": "1"
            },
            {
              "value": "2",
              "label": "2"
            }
          ]
        },
        {
          "type": "radio",
          "id": "row_mobile",
          "label": "t:sections.media-grid.blocks.settings.row.label",
          "default": "2",
          "options": [
            {
              "value": "1",
              "label": "1"
            },
            {
              "value": "2",
              "label": "2"
            }
          ]
        },
        {
          "type": "select",
          "id": "content_alignment",
          "label": "t:sections.media-grid.blocks.settings.text_alignment.label",
          "default": "center",
          "options": [
            {
              "label": "t:sections.media-grid.blocks.settings.text_alignment.left.label",
              "value": "left"
            },
            {
              "label": "t:sections.media-grid.blocks.settings.text_alignment.center.label",
              "value": "center"
            },
            {
              "label": "t:sections.media-grid.blocks.settings.text_alignment.right.label",
              "value": "right"
            }
          ]
        },
        {
          "type": "header",
          "content": "t:common.header.content_section.label"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "t:common.highlight_font.options.heading.label",
          "default": "Heading",
          "info": "t:common.line_break_text.info"
        },
        {
          "type": "select",
          "id": "heading_size",
          "label": "t:common.heading_size.label",
          "default": "h2",
          "options": [
            {
              "value": "h1",
              "label": "t:common.header.heading_tag.options.h1.label"
            },
            {
              "value": "h2",
              "label": "t:common.header.heading_tag.options.h2.label"
            },
            {
              "value": "h3",
              "label": "t:common.header.heading_tag.options.h3.label"
            },
            {
              "value": "h4",
              "label": "t:common.header.heading_tag.options.h4.label"
            },
            {
              "value": "h5",
              "label": "t:common.header.heading_tag.options.h5.label"
            },
            {
              "value": "h6",
              "label": "t:common.header.heading_tag.options.h6.label"
            }
          ]
        },
        {
            "type": "select",
            "id": "seo_heading",
            "label": "t:common.header.heading_tag.label",
            "info": "t:common.header.heading_tag.info",
            "default": "h2",
            "options": [
              {
                "value": "h1",
                "label": "t:common.header.heading_tag.options.h1.label"
              },
              {
                "value": "h2",
                "label": "t:common.header.heading_tag.options.h2.label"
              },
              {
                "value": "h3",
                "label": "t:common.header.heading_tag.options.h3.label"
              },
              {
                "value": "h4",
                "label": "t:common.header.heading_tag.options.h4.label"
              },
              {
                "value": "h5",
                "label": "t:common.header.heading_tag.options.h5.label"
              },
              {
                "value": "h6",
                "label": "t:common.header.heading_tag.options.h6.label"
              }
            ]
          },
          {
            "type": "textarea",
            "id": "description",
            "label": "t:sections.split-banner.blocks.settings.description.label",
            "default": "t:sections.media-grid.blocks.settings.description.info"
        },    
        {
          "type": "url",
          "id": "link_url",
          "label": "t:sections.media-grid.blocks.settings.link_url.label"
        },        
        {
          "type": "header",
          "content": "t:common.header.color_section.label"
        },
        {
          "type": "color",
          "id": "column_background",
          "label": "t:sections.media-grid.blocks.settings.column_background.label",
          "default": "#EFEFEF"
        },
        {
          "type": "color",
          "id": "heading_color",
          "label": "t:sections.media-grid.blocks.settings.heading_color.label",
          "default": "#000000"
        },
        {
          "type": "color",
          "id": "text_color",
          "label": "t:sections.media-grid.blocks.settings.text_color.label",
          "default": "#484848"
        },
        {
          "type": "color",
          "id": "card_border_color",
          "label": "t:sections.media-grid.blocks.settings.card_border_color.label",
          "default": "#E9E9E9"
        },
        {
          "type": "color",
          "id": "play_btn_color",
          "label": "t:sections.media-grid.blocks.settings.play_button_color.label",
          "default": "#FFFFFF"
        },
      ]
    },
    {
      "type": "overlay-text",
      "name": "t:sections.media-grid.blocks.overlay_text.label",
      "settings": [
        {
          "type": "image_picker",
          "id": "media_image",
          "label": "t:sections.media-grid.blocks.settings.media_image.label"
        },
        {
          "type": "image_picker",
          "id": "image_mobile",
          "label": "t:sections.media-grid.blocks.settings.image_mobile.label"
        },
        {
          "type": "header",
          "content": "t:common.video.label"
        },
        {
          "type": "video",
          "id": "video",
          "label": "t:sections.media-grid.blocks.settings.autoplay_video.label"
        },
        {
          "type": "header",
          "content": "t:common.card.label"
        },
        {
          "type": "paragraph",
          "content": "t:common.desktop.label"
        },
        {
          "type": "range",
          "id": "column",
          "label": "t:sections.media-grid.blocks.settings.column.label",
          "default": 2,
          "min": 1,
          "max": 6,
          "step": 1,
        },
        {
          "type": "range",
          "id": "row",
          "label": "t:sections.media-grid.blocks.settings.row.label",
          "default": 1,
          "min": 1,
          "max": 6,
          "step": 1
        },
        {
          "type": "paragraph",
          "content": "t:common.mobile.label"
        },
        {
          "type": "radio",
          "id": "column_mobile",
          "label": "t:sections.media-grid.blocks.settings.column.label",
          "default": "2",
          "options": [
            {
              "value": "1",
              "label": "1"
            },
            {
              "value": "2",
              "label": "2"
            }
          ]
        },
        {
          "type": "radio",
          "id": "row_mobile",
          "label": "t:sections.media-grid.blocks.settings.row.label",
          "default": "2",
          "options": [
            {
              "value": "1",
              "label": "1"
            },
            {
              "value": "2",
              "label": "2"
            }
          ]
        },
        {
          "type": "select",
          "id": "content_position",
          "label": "t:sections.media-grid.blocks.settings.overlay_text_position.label",
          "default": "middle",
          "options": [
            {
              "value": "top",
              "label": "t:sections.media-grid.blocks.settings.overlay_text_position.top.label"
            },
            {
              "value": "middle",
              "label": "t:sections.media-grid.blocks.settings.overlay_text_position.middle.label"
            },
            {
              "value": "bottom",
              "label": "t:sections.media-grid.blocks.settings.overlay_text_position.bottom.label"
            },
          ]
        },
        {
          "type": "select",
          "id": "content_alignment",
          "label": "t:sections.media-grid.blocks.settings.text_alignment.label",
          "default": "center",
          "options": [
            {
              "label": "t:sections.media-grid.blocks.settings.text_alignment.left.label",
              "value": "left"
            },
            {
              "label": "t:sections.media-grid.blocks.settings.text_alignment.center.label",
              "value": "center"
            },
            {
              "label": "t:sections.media-grid.blocks.settings.text_alignment.right.label",
              "value": "right"
            }
          ]
        },
        {
          "type": "header",
          "content": "t:common.header.content_section.label"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "t:common.highlight_font.options.heading.label",
          "default": "Heading",
          "info": "t:common.line_break_text.info"
        },
        {
          "type": "select",
          "id": "heading_size",
          "label": "t:common.heading_size.label",
          "default": "h2",
          "options": [
            {
              "value": "h1",
              "label": "t:common.header.heading_tag.options.h1.label"
            },
            {
              "value": "h2",
              "label": "t:common.header.heading_tag.options.h2.label"
            },
            {
              "value": "h3",
              "label": "t:common.header.heading_tag.options.h3.label"
            },
            {
              "value": "h4",
              "label": "t:common.header.heading_tag.options.h4.label"
            },
            {
              "value": "h5",
              "label": "t:common.header.heading_tag.options.h5.label"
            },
            {
              "value": "h6",
              "label": "t:common.header.heading_tag.options.h6.label"
            }
          ]
        },
        {
            "type": "select",
            "id": "seo_heading",
            "label": "t:common.header.heading_tag.label",
            "info": "t:common.header.heading_tag.info",
            "default": "h2",
            "options": [
              {
                "value": "h1",
                "label": "t:common.header.heading_tag.options.h1.label"
              },
              {
                "value": "h2",
                "label": "t:common.header.heading_tag.options.h2.label"
              },
              {
                "value": "h3",
                "label": "t:common.header.heading_tag.options.h3.label"
              },
              {
                "value": "h4",
                "label": "t:common.header.heading_tag.options.h4.label"
              },
              {
                "value": "h5",
                "label": "t:common.header.heading_tag.options.h5.label"
              },
              {
                "value": "h6",
                "label": "t:common.header.heading_tag.options.h6.label"
              }
            ]
          },
          {
            "type": "textarea",
            "id": "description",
            "label": "t:sections.split-banner.blocks.settings.description.label",
            "default": "t:sections.media-grid.blocks.settings.description.info"
        },    
        {
          "type": "url",
          "id": "link_url",
          "label": "t:sections.media-grid.blocks.settings.link_url.label"
        },        
        {
          "type": "header",
          "content": "t:common.header.color_section.label"
        },
        {
          "type": "color",
          "id": "column_background",
          "label": "t:sections.media-grid.blocks.settings.column_background.label",
          "default": "#EFEFEF"
        },
        {
          "type": "color",
          "id": "heading_color",
          "label": "t:sections.media-grid.blocks.settings.heading_color.label",
          "default": "#000000"
        },
        {
          "type": "color",
          "id": "text_color",
          "label": "t:sections.media-grid.blocks.settings.text_color.label",
          "default": "#484848"
        },
        {
          "type": "color",
          "id": "card_border_color",
          "label": "t:sections.media-grid.blocks.settings.card_border_color.label",
          "default": "#E9E9E9"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.media-grid.presets.name",
      "blocks": [
        {
          "type": "image-left-text-right"
        },
        {
          "type": "image-bottom-text-top"
        },
        {
          "type": "image-top-text-bottom"
        },
        {
          "type": "overlay-text"
        },
        {
          "type": "image-left-text-right"
        },
        {
          "type": "overlay-text"
        },
        {
          "type": "image-left-text-right"
        }
      ]
    }
  ]
}
{% endschema %}