{{ 'product-comparison-grid.css' | asset_url | stylesheet_tag }}
{%  liquid 
assign products_count = 2
assign product_summary = false
assign custom_content = false
if section.blocks.size > 0
  for block in section.blocks
    if block.type == 'custom_content'
      assign custom_content = true
      assign content_count = forloop.index
    endif
  endfor
endif
%}
{% render 'section-id-clipboard' %}
<div class="yv-compare-section"{% if request.page_type == 'product' %} data-url="{{ routes.product_recommendations_url }}?section_id={{ section.id }}&product_id={{ product.id }}&limit=2&intent=related" product-recommendations {%- endif -%}>
  {% liquid     
    assign product_list = recommendations.products 
  %}
  <div class="{{ section.settings.content_width }}">
    <div class="rich-text-content text-{{ section.settings.content_alignment }}">
      <div class="richtext-content-inner">
      {% if section.settings.heading != blank %}
          {% if section.settings.highlight_font == 'body' %}
            {% capture highlightStyle %}
              <span class="body-font highlighted-text">
            {% endcapture %}
          {% elsif section.settings.highlight_font == 'heading' %}
            {% capture highlightStyle %}
              <span class="heading-font highlighted-text">
            {% endcapture %}  
          {% else %}
            {% capture highlightStyle %}
              <span class="accent-font highlighted-text">
            {% endcapture %}  
          {% endif %}
         
          <{{ section.settings.seo_heading }} class="section-heading-title {{ section.settings.heading_size }}" >
          {%- assign heading = section.settings.heading | replace: "<strong>", highlightStyle | replace: "</strong>", '</span>' | replace: '++', '<br/>' -%}
          {%- if heading contains '[' and heading contains ']' -%}
            {%- render 'rotational-highlight', heading: heading -%}
          {%- else -%}
            {{- heading -}}
          {%- endif -%}
          </{{ section.settings.seo_heading }}>
        {% endif %}
        {% if section.settings.description != blank %}
          <div class="rich-text-description" >{{ section.settings.description }}</div>
        {% endif %}
        
      </div>
    </div> 
    <div class="yv-compare-wrapper"> 
      {% content_for 'blocks' %}
    </div>
    
    {% comment %} <div class="yv-compare-wrapper">
      {% if section.blocks.size > 0 %} 
          {% if product %}
            {% render 'comparison-product',
              product: product, 
              block_settings: block.settings,
              custom_content: custom_content,
              content_count: content_count
            %}    
          {% endif %}
          {%  if product_list != blank %} 
            {% for compare_product in product_list %}
              {% render 'comparison-product',
                product: compare_product,
                block_settings: block.settings,
                custom_content: custom_content,
                content_count: content_count
              %}    
            {% endfor %}
          {% else %} 
            {% for i in (1..3) %}
              {% render 'comparison-product',
                block_settings: block.settings,
                custom_content: custom_content,
                content_count: content_count
              %}
            {% endfor %}
          {% endif %}
         
      {% endif %}

    </div> {% endcomment %}
  </div>
</div>
<style>
  #shopify-section-{{ section.id }} {
    background:var(--{{- section.settings.bgcolor -}}ColorBody);
    padding-top:{{ section.settings.top_space_desktop }}px;
    padding-bottom:{{ section.settings.bottom_space_desktop }}px;
    {%- unless section.settings.bgcolor == 'primary' or section.settings.bgcolor == 'gradient' -%}
    --primaryColorBody:var(--{{- section.settings.bgcolor -}}ColorBody);
    --colorTextBody:var(--{{- section.settings.bgcolor -}}colorTextBody);
    --subheading_color:var(--{{- section.settings.bgcolor -}}_subheading_color);
    --colorLightTextBody:var(--{{- section.settings.bgcolor -}}ColorLightTextBody);
    --colorXlightTextBody:var(--{{- section.settings.bgcolor -}}ColorXlightTextBody);
    --heading_color:var(--{{- section.settings.bgcolor -}}_heading_color);
    --primaryAlternateBg:var(--{{- section.settings.bgcolor -}}AlternateBg);
    --primaryCardBackground:var(--{{- section.settings.bgcolor -}}CardBackground);
    --primaryCardText:var(--{{- section.settings.bgcolor -}}CardText);
    {%- endunless -%}

    {% if section.settings.highlight_text_gradient != blank %}
      --highlightTextColor: {{ section.settings.highlight_text_gradient }};
    {% else %}
      --highlightTextColor: {{ section.settings.highlight_text_color }};
    {% endif %}
  }

  #shopify-section-{{ section.id }} .section-heading-title {
    --fontSize: var(--{{ section.settings.heading_size }});
  }

  @media only screen and (max-width:991px) {
    #shopify-section-{{ section.id }}.shopify-section{
      padding-top:{{ section.settings.top_space_mobile }}px;
      padding-bottom:{{ section.settings.bottom_space_mobile }}px;
    }
  }  
  {% if section.settings.section_visibility == 'large' %}
      @media (max-width: 767px) {
        #shopify-section-{{ section.id }}{
          display: none !important;
        }
      }
    {% elsif section.settings.section_visibility == 'small' %}
      @media (min-width: 768px) {
        #shopify-section-{{ section.id }}{
          display: none !important;
        }
      }
  {% endif %}
</style>
{% schema %}
{
  "name": "t:sections.product-comparison-grid.name",
  "disabled_on": {
      "groups": [
        "header",
        "footer"
      ]
    },
  "settings": [
    {
      "type": "select",
      "id": "content_width",
      "label": "t:sections.rich-text.settings.content_width.label",
      "options": [
        {
          "value": "container sm-container",
          "label": "t:sections.rich-text.settings.content_width.options.small.label"
        },
        {
          "value": "container md-container",
          "label": "t:sections.rich-text.settings.content_width.options.medium.label"
        },
        {
          "value": "container",
          "label": "t:sections.rich-text.settings.content_width.options.large.label"
        }
      ],
      "default": "container sm-container"
    },
    {
      "type": "inline_richtext",
      "id": "heading",
      "default": "t:sections.product-comparison-grid.name",
      "label": "t:sections.gallery-carousel.settings.heading.label",
      "info": "t:common.highlight_text_and_break_text.info"
    },
    {
      "type": "color",
      "id": "highlight_text_color",
      "label": "t:common.highlight_text_color.label",
      "default": "#000000",
      "visible_if": "{{ section.settings.heading contains '<strong>' or section.settings.heading contains '[' and section.settings.heading contains ']' }}"
    },
    {
      "type": "color_background",
      "id": "highlight_text_gradient",
      "label": "t:common.highlight_text_gradient.label",
      "info": "t:common.highlight_text_gradient.info",
      "default": "linear-gradient(90deg, #A678C8 0%, #718CC7 48.08%, #639A47 100%)",
      "visible_if": "{{ section.settings.heading contains '<strong>' or section.settings.heading contains '[' and section.settings.heading contains ']' }}"
    },
    {
      "type": "select",
      "id": "highlight_font",
      "default": "body",
      "label": "t:common.highlight_font.label",
      "options": [
        {
          "value": "body",
          "label": "t:common.highlight_font.options.body.label"
        },
        {
          "value": "heading",
          "label": "t:common.highlight_font.options.heading.label"
        },
        {
          "value": "accent",
          "label": "t:common.highlight_font.options.accent.label"
        }
      ]
    },
    {
      "type": "select",
      "id": "seo_heading",
      "label": "t:common.header.heading_tag.label",
      "info": "t:common.header.heading_tag.info",
      "default": "h2",
      "options": [
        {
          "value": "h1",
          "label": "t:common.header.heading_tag.options.h1.label"
        },
        {
          "value": "h2",
          "label": "t:common.header.heading_tag.options.h2.label"
        },
        {
          "value": "h3",
          "label": "t:common.header.heading_tag.options.h3.label"
        },
        {
          "value": "h4",
          "label": "t:common.header.heading_tag.options.h4.label"
        },
        {
          "value": "h5",
          "label": "t:common.header.heading_tag.options.h5.label"
        },
        {
          "value": "h6",
          "label": "t:common.header.heading_tag.options.h6.label"
        }
      ]
    },
    {
      "type": "select",
      "id": "heading_size",
      "label": "t:common.heading_size.label",
      "default": "h1",
      "options": [
        {
          "value": "h1",
          "label": "H1"
        },
        {
          "value": "h2",
          "label": "H2"
        },
        {
          "value": "h3",
          "label": "H3"
        },
        {
          "value": "h4",
          "label": "H4"
        },
        {
          "value": "h5",
          "label": "H5"
        },
        {
          "value": "h6",
          "label": "H6"
        }
      ]
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "t:sections.rich-text.blocks.richtext.settings.content.label",
      "default": "<p>Use this section to welcome customers to your store, say a bit about your brand, or share news and seasonal promotions.</p>"
    },
    {
      "type": "select",
      "id": "content_alignment",
      "label": "t:sections.rich-text.settings.content_alignment.label",
      "default": "center",
      "options": [
        {
          "label": "t:sections.rich-text.settings.content_alignment.options.left.label",
          "value": "left"
        },
        {
          "label": "t:sections.rich-text.settings.content_alignment.options.center.label",
          "value": "center"
        },
        {
          "label": "t:sections.rich-text.settings.content_alignment.options.right.label",
          "value": "right"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:common.header.color_singular_section.label"
    },
    {
      "type": "select",
      "id": "bgcolor",
      "label": "t:common.header.background_section.label",
      "default": "primary",
      "options": [
        {
          "value": "primary",
          "label": "t:common.header.primary.label"
        },
        {
          "value": "secondary",
          "label": "t:common.header.secondary.label"
        },
        {
          "value": "tertiary",
          "label": "t:common.header.tertiary.label"
        },
        {
          "value": "quaternary",
          "label": "t:common.header.quaternary.label"
        },
        {
          "value": "gradient",
          "label": "t:common.header.gradient.label"
        }
        ]
    },
    {
      "type": "header",
      "content": "t:common.button.fullname.label"
    },
    {
      "type": "select",
      "id": "button_size",
      "default": "default",
      "label": "t:common.desktop.label",
      "options": [
        {
          "value": "default",
          "label": "t:common.button.options.default.label"
        },
        {
          "value": "small",
          "label": "t:common.button.options.small.label"
        },
        {
          "value": "med",
          "label": "t:common.button.options.medium.label"
        },
        {
          "value": "large",
          "label": "t:common.button.options.large.label"
        }
      ]
    },
    {
      "type": "select",
      "id": "mobile_button_size",
      "default": "m-med",
      "label": "t:common.mobile.label",
      "options": [
        {
          "value": "m-default",
          "label": "t:common.button.options.default.label"
        },
        {
          "value": "m-small",
          "label": "t:common.button.options.small.label"
        },
        {
          "value": "m-med",
          "label": "t:common.button.options.medium.label"
        },
        {
          "value": "m-large",
          "label": "t:common.button.options.large.label"
        }
      ]
    },      
    {
      "type": "header",
      "content":"Layout"
    },
    {
      "type": "select",
      "id": "section_visibility",
      "label": "t:common.section_visibility.label",
      "default": "always",
      "options": [
        {
          "label": "t:common.section_visibility.options.always.label",
          "value": "always"
        },
        {
          "label": "t:common.section_visibility.options.small_devices.label",
          "value": "small"
        },
        {
          "label": "t:common.section_visibility.options.large_devices.label",
          "value": "large"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:common.header.space_section.label"
    },
    {
      "type": "range",
      "id": "top_space_desktop",
      "label": "t:common.top_space_desktop.label",
      "default": 60,
      "min": 0,
      "max": 100,
      "step": 5
    },
    {
      "type": "range",
      "id": "bottom_space_desktop",
      "label": "t:common.bottom_space_desktop.label",
      "default": 60,
      "min": 0,
      "max": 100,
      "step": 5
    },
    {
      "type": "range",
      "id": "top_space_mobile",
      "label": "t:common.top_space_mobile.label",
      "default": 30,
      "min": 0,
      "max": 100,
      "step": 5
    },
    {
      "type": "range",
      "id": "bottom_space_mobile",
      "label": "t:common.bottom_space_mobile.label",
      "default": 30,
      "min": 0,
      "max": 100,
      "step": 5
    }
  ],
  "blocks": [
    {
      "type": "_compare_product"
    }
   ],
  "presets": [
    {
      "name": "t:sections.product-comparison-grid.name",
      "blocks": [
        {
          "type": "_compare_product",
          "settings": {
            "product": "{{ closest.product }}"
          },
          "blocks":[
            {
                "type": "_custom_content"
            },
            {
                "type": "_custom_content"
            },
            {
                "type": "_custom_content"
            },
            {
                "type": "_custom_content"
            }
          ]
        },
        {
          "type": "_compare_product",
          "blocks":[
            {
                "type": "_custom_content"
            },
            {
                "type": "_custom_content"
            },
            {
                "type": "_custom_content"
            },
            {
                "type": "_custom_content"
            }
          ]
        },
        {
          "type": "_compare_product",
          "blocks":[
            {
                "type": "_custom_content"
            },
            {
                "type": "_custom_content"
            },
            {
                "type": "_custom_content"
            },
            {
                "type": "_custom_content"
            }
          ]
        }
      ]
    }
  ]
}
{% endschema %}
