<div class="{% if section.settings.enable_fullwidth %}full-width{% else %}container sm-container{% endif %}">
  <div class="tabbed-collage-container img-position-{{ section.settings.media_alignment }}" {% if section.settings.show_icon_on_image %}style="position: relative;"{% endif %}>
    {% if section.settings.show_icon_on_image %}
      <div class="yv-draw-icon" data-icon="{{ section.settings.icon }}">
        {% render 'animated-icons', icon: section.settings.icon %}
      </div>
    {% endif %}
    <div class="row align-items-center">
        <div class="col-12 col-sm-12 col-md-6">
            {% for block in section.blocks %}
              <div id="blockMedia-{{ block.id }}" class="tabbed-collage-image {% if forloop.first %}active{% endif %}" {% if forloop.first %}style="display:block"{% endif %}>
                <div class="image-wrapper">
                {% if block.settings.video != blank %}
                  <deferred-media>
                    <template style="display:none">   
                      <video class="tabbed-collage-video" controls> 
                        <source src="{{ block.settings.video.sources[0].url }}" type="video/mp4">
                        <source src="{{ block.settings.video.sources[1].url }}">
                      </video>
                    </template>    
                    <noscript>
                      {% if block.settings.product.featured_media != blank or block.settings.image != blank %}
                        {% liquid
                          assign media = block.settings.image
                          if block.settings.product.featured_media != blank
                            assign media = block.settings.product.featured_media.preview_image
                          endif
                        %}
                        <img
                          src="{{ media | image_url: width: 2048 }}"
                          alt="{{ media.alt | escape }}"
                          loading="lazy"
                          aria-label="{{ media.alt | default: shop.name | strip_html }}"
                          width=""
                          height=""
                        >
                        {% else %}
                          {% if block.type == 'media' %}
                            {{ 'collection-1' | placeholder_svg_tag: 'placeholder-svg' }}
                          {% else %}
                            {{ 'product-1' | placeholder_svg_tag: 'placeholder-svg' }}
                          {% endif %}
                        {% endif %}
                    </noscript>
                  </deferred-media>
                {% elsif block.settings.product.featured_media != blank %}
                    {% render 'lazy-image', image: block.settings.product.featured_media %}
                {% elsif block.settings.image != blank %}
                     {% render 'lazy-image', image: block.settings.image %}
                {% else %}
                  {% if block.type == 'media' %}
                    {{ 'collection-1' | placeholder_svg_tag: 'placeholder-svg' }}
                  {% else %}
                    {{ 'product-1' | placeholder_svg_tag: 'placeholder-svg' }}
                  {% endif %}
                {% endif %}
                </div>
            </div>
          {% endfor %}
        </div>
        <div class="col-12 col-sm-12 col-md-6">
            <div class="tabbed-collage-content tab-behaviour-{{ section.settings.tabs_behavior }}{% if section.settings.compact_view %} tab-compact-view{% endif %}">
              <div class="yv-tabbed-collage-text">
                {%- if section.settings.subheading != blank -%}
                  <h6
                    class="yv-tabbed-collage-subtitle yv-subheading text-small"
                    {% if settings.enable_animation %}
                      data-aos="fade-up"
                    {%- endif %}
                  > 
                    {{ section.settings.subheading }}
                  </h6>
                {%- endif %}
                {%- if section.settings.heading != blank -%}
                  {% if section.settings.highlight_font == 'body' %}
                    {% capture highlightStyle %}
                    <span class="body-font">
                    {% endcapture %}
                  {% elsif section.settings.highlight_font == 'heading' %}
                  {% capture highlightStyle %}
                     <span class="heading-font">
                  {% endcapture %}  
                  {% else %}
                  {% capture highlightStyle %}
                     <span class="accent-font">
                  {% endcapture %}  
                  {% endif %}
                  <{{ section.settings.seo_heading }}
                    class="heading-title {{ section.settings.heading_size }}"
                    {% if settings.enable_animation %}
                      data-aos="fade-up" data-aos-delay="50"
                    {%- endif %}
                  >
                    {{ section.settings.heading | replace: "<strong>", highlightStyle | replace: "</strong>", '</span>' | replace: '++', '<br/>' }}
                  </{{ section.settings.seo_heading }}>
                {%- endif %}
                {%- if section.settings.description != blank -%}
                  <p class="yv-tabbed-collage-desc" {% if settings.enable_animation %} data-aos="fade-up" data-aos-delay="75"
                  {%- endif %}>{{ section.settings.description | newline_to_br }}</p>
                {%- endif %}
              </div>
                <div class="yv-product-accordion yv-faq-accordion{% if section.settings.enable_blockbg %} background-enabled{% endif %}" 
                  data-tabs-open-method="{{ section.settings.tabs_behavior }}" 
                  data-faq-accordions
                  >
                  {% for block in section.blocks %}
                    {% case block.type %}
                      {% when 'media' %}
                    <div class="yv-accordion-card" {% if section.settings.open_by_default and forloop.first %}open{% endif %} {{ block.shopify_attributes }}>
                      <{% if section.settings.tabs_behavior == 'hover' and block.settings.heading_link != blank %}a href="{{ block.settings.heading_link }}"{% else %}div{% endif %} class="yv-accordion-header {% if section.settings.open_by_default and forloop.first %}active{% endif %}" content="accordion-{{ block.id }}" media="blockMedia-{{ block.id }}">
                        {% if block.settings.icon != 'none' %}
                          <strong class="yv-accordion-header-icon {{ block.settings.icon_size }}">
                            {%- render 'icons', icon: block.settings.icon -%}
                          </strong>
                        {% endif %}
                        
                        <div class="yv-accordion-heading-header">
                        <{{ block.settings.seo_heading }} class="accordion-heading {{ block.settings.size }}">
                          {{ block.settings.heading }}
                        </{{ block.settings.seo_heading }}>
                        {% if block.settings.subheading != blank %}
                          <p class="yv-accordion-subheading">{{ block.settings.subheading }}</p>
                        {% endif %}
                        </div>
                        {% if section.settings.expand_icons == 'arrows' and section.settings.tabs_behavior == 'hover' %}
                          <span class="expanded-arrow-icon arrow-style-{{ section.settings.expand_icons }}">
                            <svg width="13" height="12" viewBox="0 0 13 12" fill="none">
                              <path fill-rule="evenodd" clip-rule="evenodd" d="M6.51988 0C8.42094 3 9.85094 4.0665 13 6C9.82188 7.90425 8.515 9 6.51988 12H4.61959C6.61394 9 7.48265 7.96575 10.4451 6C7.48265 4.005 6.51988 3 4.58823 0H6.51988ZM1.93165 0C3.83347 3 5.26424 4.0665 8.41176 6C5.23365 7.90425 3.92676 9 1.93165 12H0.031353C2.02418 9 2.89518 7.96575 5.85612 6C2.89518 4.005 1.93165 3 0 0H1.93165Z" fill="currentColor"/>
                              </svg>
                          </span>
                        {% elsif section.settings.expand_icons == 'plus' %}
                            <span class="expanded-plus-icon arrow-style-{{ section.settings.expand_icons }}">
                          <svg width="13" viewBox="0 0 465 465" fill="none">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M464.973 253.453V211.213H253.787V0.0266724H211.547V211.213H0.360016V253.453H211.547V464.64H253.787V253.453H464.973Z" fill="currentColor"/>
                          </svg>
                        </span>
                      {% elsif section.settings.expand_icons == 'arrows' %}
                          <span class="expanded-arrow-icon arrow-style-{{ section.settings.expand_icons }}">
                          <svg width="6" height="12" viewBox="0 0 6 12" fill="none">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M5.10024 4.55715L1.52983 0.898763C1.38409 0.750315 1.18693 0.666992 0.981431 0.666992C0.775929 0.666992 0.578777 0.750315 0.433034 0.898763C0.360126 0.972858 0.302257 1.06101 0.262766 1.15814C0.223274 1.25526 0.202942 1.35944 0.202942 1.46466C0.202942 1.56988 0.223274 1.67405 0.262766 1.77118C0.302257 1.8683 0.360126 1.95646 0.433034 2.03055L4.01123 5.68096C4.08414 5.75506 4.14201 5.84321 4.1815 5.94034C4.22099 6.03746 4.24132 6.14164 4.24132 6.24686C4.24132 6.35208 4.22099 6.45625 4.1815 6.55338C4.14201 6.6505 4.08414 6.73866 4.01123 6.81275L0.433034 10.4632C0.286559 10.6122 0.20386 10.8147 0.20313 11.0262C0.202401 11.2377 0.283701 11.4409 0.429145 11.591C0.574589 11.741 0.772263 11.8258 0.978681 11.8265C1.1851 11.8273 1.38335 11.744 1.52983 11.5949L5.10024 7.93657C5.53725 7.48823 5.78272 6.8805 5.78272 6.24686C5.78272 5.61321 5.53725 5.00548 5.10024 4.55715Z" fill="currentColor"/>
                            </svg>
                          </span>
                        {% endif %}
                      </{% if section.settings.tabs_behavior == 'hover' and block.settings.heading_link != blank %}a{% else %}div{% endif %}>
                      {% if block.settings.description != blank %}
                      <div class="yv-accordion-content tabdedColumn-Content" id="accordion-{{ block.id }}" {% if section.settings.open_by_default and forloop.first %}style="display:block"{% endif %} >
                        <div class="yv-content-body">
                          {{ block.settings.description }}
                        </div>
                         {% if block.settings.btn_text != blank and block.settings.btn_link != blank %}
                          <div class="yv-content-button">
                            <a
                              class="{% if block.settings.btn_as_link == true %}link{% else %}button xsmall-btn{% endif %}"
                              href="{{ block.settings.btn_link }}"
                            >
                              
                              {% if settings.buttonAnimation == 'animated-arrow'%}
                                <span class="btn-animated-arrow"><svg fill="none" viewBox="0 0 8 8">
                                  <path fill="currentColor" fill-rule="evenodd" d="M0 0h8v8H7V1.707L1.354 7.354 1 7.707.293 7l.353-.354L6.293 1H0V0Z" clip-rule="evenodd"></path>
                                  </svg>
                                </span>
                              {% endif %}
                              <span class="btn-txt">{{ block.settings.btn_text }}</span>
                            </a>
                          </div>
                        {% endif %}
                      </div>
                    {% endif %}
                    </div>
                  {% when 'product' %}
                  <div class="yv-accordion-card" {% if section.settings.open_by_default and forloop.first %}open{% endif %}{{ block.shopify_attributes }} {{ block.shopify_attributes }}>
                    <{% if section.settings.tabs_behavior == 'hover' and block.settings.heading_link != blank %}a href="{{ block.settings.heading_link }}"{% else %}div{% endif %} class="yv-accordion-header {% if section.settings.open_by_default and forloop.first %}active{% endif %}" content="accordion-{{ block.id }}" media="blockMedia-{{ block.id }}">
                      {% if block.settings.icon != 'none' %}
                        <strong class="yv-accordion-header-icon {{ block.settings.icon_size }}">
                          {%- render 'icons', icon: block.settings.icon -%}
                        </strong>
                      {% endif %}
                      <div class="yv-accordion-heading-header">
                      <{{ block.settings.seo_heading }} class="accordion-heading {{ block.settings.size }}">
                        {{ block.settings.heading }}
                      </{{ block.settings.seo_heading }}>
                      {% if block.settings.subheading != blank %}
                        <p class="yv-accordion-subheading">{{ block.settings.subheading }}</p>
                      {% endif %}
                      </div>
                     
                    {% if section.settings.expand_icons == 'arrows' and section.settings.tabs_behavior == 'hover' %}
                      <span class="expanded-arrow-icon arrow-style-{{ section.settings.expand_icons }}">
                        <svg width="13" height="12" viewBox="0 0 13 12" fill="none">
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M6.51988 0C8.42094 3 9.85094 4.0665 13 6C9.82188 7.90425 8.515 9 6.51988 12H4.61959C6.61394 9 7.48265 7.96575 10.4451 6C7.48265 4.005 6.51988 3 4.58823 0H6.51988ZM1.93165 0C3.83347 3 5.26424 4.0665 8.41176 6C5.23365 7.90425 3.92676 9 1.93165 12H0.031353C2.02418 9 2.89518 7.96575 5.85612 6C2.89518 4.005 1.93165 3 0 0H1.93165Z" fill="currentColor"/>
                          </svg>
                      </span>
                    {% elsif section.settings.expand_icons == 'plus' %}
                        <span class="expanded-plus-icon arrow-style-{{ section.settings.expand_icons }}">
                      <svg width="13" viewBox="0 0 465 465" fill="none">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M464.973 253.453V211.213H253.787V0.0266724H211.547V211.213H0.360016V253.453H211.547V464.64H253.787V253.453H464.973Z" fill="currentColor"/>
                      </svg>
                    </span>
                  {% elsif section.settings.expand_icons == 'arrows' %}
                      <span class="expanded-arrow-icon arrow-style-{{ section.settings.expand_icons }}">
                      <svg width="6" height="12" viewBox="0 0 6 12" fill="none">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M5.10024 4.55715L1.52983 0.898763C1.38409 0.750315 1.18693 0.666992 0.981431 0.666992C0.775929 0.666992 0.578777 0.750315 0.433034 0.898763C0.360126 0.972858 0.302257 1.06101 0.262766 1.15814C0.223274 1.25526 0.202942 1.35944 0.202942 1.46466C0.202942 1.56988 0.223274 1.67405 0.262766 1.77118C0.302257 1.8683 0.360126 1.95646 0.433034 2.03055L4.01123 5.68096C4.08414 5.75506 4.14201 5.84321 4.1815 5.94034C4.22099 6.03746 4.24132 6.14164 4.24132 6.24686C4.24132 6.35208 4.22099 6.45625 4.1815 6.55338C4.14201 6.6505 4.08414 6.73866 4.01123 6.81275L0.433034 10.4632C0.286559 10.6122 0.20386 10.8147 0.20313 11.0262C0.202401 11.2377 0.283701 11.4409 0.429145 11.591C0.574589 11.741 0.772263 11.8258 0.978681 11.8265C1.1851 11.8273 1.38335 11.744 1.52983 11.5949L5.10024 7.93657C5.53725 7.48823 5.78272 6.8805 5.78272 6.24686C5.78272 5.61321 5.53725 5.00548 5.10024 4.55715Z" fill="currentColor"/>
                        </svg>
                      </span>
                    {% endif %}
                    </{% if section.settings.tabs_behavior == 'hover' and block.settings.heading_link != blank %}a{% else %}div{% endif %}>
                    {% if block.settings.description != blank %}
                      <div class="yv-accordion-content tabdedColumn-Content" id="accordion-{{ block.id }}" {% if section.settings.open_by_default and forloop.first %}style="display:block"{% endif %}>
                        <div class="yv-content-body">
                          {{ block.settings.description | newline_to_br }}
                        </div>
                        {% liquid
                          assign btn_link = block.settings.product.url
                          if block.settings.btn_link
                          assign btn_link = block.settings.btn_link
                          endif
                        %}
                         {% if block.settings.btn_text != blank and btn_link != blank %}
                          <div class="yv-content-button">
                            <a
                              class="{% if block.settings.btn_as_link == true %}link{% else %}button xsmall-btn{% endif %}"
                              href="{{ btn_link }}"
                            >
                              
                              {% if settings.buttonAnimation == 'animated-arrow'%}
                                <span class="btn-animated-arrow"><svg fill="none" viewBox="0 0 8 8">
                                  <path fill="currentColor" fill-rule="evenodd" d="M0 0h8v8H7V1.707L1.354 7.354 1 7.707.293 7l.353-.354L6.293 1H0V0Z" clip-rule="evenodd"></path>
                                  </svg>
                                </span>
                              {% endif %}
                              <span class="btn-txt">{{ block.settings.btn_text }}</span>
                            </a>
                          </div>
                        {% endif %}
                      </div>
                    {% endif %}
                    </div>
                      {% endcase %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
  </div>
</div>
<style>
  {% comment %} :root {
    --transition-duration: {{ section.settings.autoplay_delay | times: 1000 | divided_by: 1000 }}s;
  }  

  .yv-accordion-header.active .custom-content-tabs-progress:after {
    animation: line-fill var(--transition-duration) linear forwards;
    width:100%
}
.autoplay .custom-content-tabs-progress {
    width: 100%;
    height: 2px;
    background: rgb(255 255 255 / 15%);
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
}
.autoplay .custom-content-tabs-progress:after {
    position: absolute;
    content: "";
    animation: line-fill var(--transition-duration) linear forwards;
    width:100%;
    top: 0;
    left: 0;
    height: 2px;
    background:rgb(253, 252, 252);
}

 @keyframes line-fill {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}
{% endcomment %}
  {% if section.settings.show_icon_on_image %}
    #shopify-section-{{ section.id }} .animated-path {
      stroke-dasharray: 1000;
      stroke-dashoffset: 1000;
      stroke: {{ section.settings.icon_animated_color }};
      stroke-width: 8;
    }
    #shopify-section-{{ section.id }} .yv-draw-icon {
      position: absolute;  
      top: {{ section.settings.top_to_bottom | append: '%' }}; 
      left: {{ section.settings.left_to_right | append: '%' }};
    }    
  {% endif %}
  #shopify-section-{{ section.id }}.shopify-section {
    {% if section.settings.enable_top_border %}
      border-top: 1px {{ section.settings.border_style }} var(--primaryBorderColor);
    {% endif %}
    {% if section.settings.enable_bottom_border %}
      border-bottom: 1px {{ section.settings.border_style }} var(--primaryBorderColor);
    {% endif %}
    padding-top:{{ section.settings.top_space_desktop }}px;
    padding-bottom:{{ section.settings.bottom_space_desktop }}px;
    --layoutRadius:{{ section.settings.image_radius_desktop }}px;
    background:var(--{{- section.settings.bgcolor -}}ColorBody);
    {%- unless section.settings.bgcolor == 'primary' or section.settings.bgcolor == 'gradient' -%}
    --colorTextBody:var(--{{- section.settings.bgcolor -}}colorTextBody);
    --heading_color:var(--{{- section.settings.bgcolor -}}_heading_color);
    --subheading_color:var(--{{- section.settings.bgcolor -}}_subheading_color);
    --primaryColorBody:var(--{{- section.settings.bgcolor -}}ColorBody);
    --colorLightTextBody:var(--{{- section.settings.bgcolor -}}ColorLightTextBody);
    --colorXlightTextBody:var(--{{- section.settings.bgcolor -}}ColorXlightTextBody);
    --colorXXlightTextBody:var(--{{- section.settings.bgcolor -}}ColorXXlightTextBody);
    --primaryCardBackground:var(--{{- section.settings.bgcolor -}}CardBackground);
    --primaryBorderColor: var(--{{- section.settings.bgcolor -}}BorderColor);
    {%- endunless -%}
  }
  #shopify-section-{{ section.id }}.shopify-section .tabbed-collage-content{
    --layoutRadius:40px;
  }
  #shopify-section-{{ section.id }}.shopify-section .yv-tabbed-collage-background-image {
        --overlayOpacity: {{ section.settings.overlay_opacity | times: 0.01 }};
  }
  {% unless section.settings.overlay_color contains 'rgba(0,0,0,0)' or section.settings.overlay_color == blank %}
    #shopify-section-{{ section.id }}.shopify-section .yv-tabbed-collage-background-image {
        --overlayColor: {{ section.settings.overlay_color.red }},{{ section.settings.overlay_color.green }},{{ section.settings.overlay_color.blue }},{{ section.settings.overlay_opacity | divided_by: 100.0 }};    
    }
  {% endunless %}
  {% for block in section.blocks %}
    #blockMedia-{{ block.id }} .image-wrapper{
      {% if section.settings.desktop_height == 'adapt_image' %}
         {% liquid
           if block.settings.video != blank
           assign ratio =  100 | divided_by: block.settings.video.aspect_ratio
           elsif block.settings.product.featured_image != blank
           assign ratio =  100 | divided_by: block.settings.product.featured_image.aspect_ratio
           elsif block.settings.image != blank
           assign ratio =  100 | divided_by: block.settings.image.aspect_ratio
           else
           assign ratio =  100 
           endif 
         %}
        padding-bottom:{{ ratio }}%;
        height:0
        {% else %}
        height:{{ section.settings.desktop_height }};
        {% endif %}
    }
  {% endfor %}
  @media only screen and (max-width:767px) {
    #shopify-section-{{ section.id }}.shopify-section {
    --layoutRadius:{{ section.settings.image_radius_mobile }}px;
    }
    #shopify-section-{{ section.id }} .yv-draw-icon {
      position: absolute;  
      top: {{ section.settings.mobile_top_to_bottom | append: '%' }}; 
      left: {{ section.settings.mobile_left_to_right | append: '%' }};
    }
  }
  @media only screen and (max-width:991px) {
    #shopify-section-{{ section.id }}.shopify-section{
      padding-top:{{ section.settings.top_space_mobile }}px;
      padding-bottom:{{ section.settings.bottom_space_mobile }}px;
    }
    {% for block in section.blocks %}
      #blockMedia-{{ block.id }} .image-wrapper{
        {% if section.settings.mobile_height == 'adapt_image' %}
           {% liquid
             if block.settings.video != blank
             assign ratio =  100 | divided_by: block.settings.video.aspect_ratio
             elsif block.settings.product.featured_image != blank
             assign ratio =  100 | divided_by: block.settings.product.featured_image.aspect_ratio
             elsif block.settings.image != blank
             assign ratio =  100 | divided_by: block.settings.image.aspect_ratio
             else
             assign ratio =  100 
             endif 
           %}
          padding-bottom:{{ ratio }}%;
          height:0;
          {% else %}
          height:{{ section.settings.mobile_height }};
          {% endif %}
      }
    {% endfor %}
  }
  {% if section.settings.section_visibility == 'large' %}
      @media (max-width: 767px) {
        #shopify-section-{{ section.id }}{
          display: none !important;
        }
      }
    {% elsif section.settings.section_visibility == 'small' %}
      @media (min-width: 768px) {
        #shopify-section-{{ section.id }}{
          display: none !important;
        }
      }
  {% endif %}
</style>
{% schema %}
{
  "name": "t:sections.tabbed-collage.name",
  "tag": "section",
  "class": "tabbed-collage-section",
  "settings": [
    {
      "type": "select",
      "id": "section_visibility",
      "label": "t:common.section_visibility.label",
      "default": "always",
      "options": [
        {
          "label": "t:common.section_visibility.options.always.label",
          "value": "always"
        },
        {
          "label": "t:common.section_visibility.options.small_devices.label",
          "value": "small"
        },
        {
          "label": "t:common.section_visibility.options.large_devices.label",
          "value": "large"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "enable_fullwidth",
      "label": "t:sections.tabbed-collage.settings.enable_fullwidth.label",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "compact_view",
      "label": "t:sections.tabbed-collage.settings.compact_view.label",
      "default": false
    },
    {
        "type": "select",
        "id": "tabs_behavior",
        "label": "t:sections.tabbed-collage.settings.tabs_behavior.label",
        "default": "click",
        "options": [
          {
            "label": "t:sections.tabbed-collage.settings.tabs_behavior.options.click.label",
            "value": "click"
          },
          {
            "label": "t:sections.tabbed-collage.settings.tabs_behavior.options.hover.label",
            "value": "hover"
          }
        ]
    },
    {
      "type": "checkbox",
      "id": "open_by_default",
      "label": "t:sections.tabbed-collage.settings.open_by_default.label",
      "default": false
    },
    {
      "type": "header",
      "content": "t:common.header.text_section.label"
    },
    {
      "type": "inline_richtext",
      "id": "heading",
      "default": "Heading",
      "label": "t:common.highlight_font.options.heading.label",
      "info": "t:common.highlight_text_and_break_text.info"
    },
    {
      "type": "select",
      "id": "highlight_font",
      "default": "body",
      "label": "t:common.highlight_font.label",
      "options": [
        {
          "value": "body",
          "label": "t:common.highlight_font.options.body.label"
        },
        {
          "value": "heading",
          "label": "t:common.highlight_font.options.heading.label"
        },
        {
          "value": "accent",
          "label": "t:common.highlight_font.options.accent.label"
        }
      ]
    },
    {
      "type": "select",
      "id": "heading_size",
      "label": "t:common.heading_size.label",
      "default": "h2",
      "options": [
        {
          "value": "h1",
          "label": "H1"
        },
        {
          "value": "h2",
          "label": "H2"
        },
        {
          "value": "h3",
          "label": "H3"
        },
        {
          "value": "h4",
          "label": "H4"
        },
        {
          "value": "h5",
          "label": "H5"
        },
        {
          "value": "h6",
          "label": "H6"
        }
      ]
    },
    {
      "type": "select",
      "id": "seo_heading",
      "label": "t:common.header.heading_tag.label",
      "info": "t:common.header.heading_tag.info",
      "default": "h2",
      "options": [
        {
          "value": "h1",
          "label": "t:common.header.heading_tag.options.h1.label"
        },
        {
          "value": "h2",
          "label": "t:common.header.heading_tag.options.h2.label"
        },
        {
          "value": "h3",
          "label": "t:common.header.heading_tag.options.h3.label"
        },
        {
          "value": "h4",
          "label": "t:common.header.heading_tag.options.h4.label"
        },
        {
          "value": "h5",
          "label": "t:common.header.heading_tag.options.h5.label"
        },
        {
          "value": "h6",
          "label": "t:common.header.heading_tag.options.h6.label"
        }
      ]
    },
  
    {
      "type": "text",
      "id": "subheading",
      "default": "Subheading",
      "label": "t:common.sub_heading.label"
    },
    {
      "type": "textarea",
      "id": "description",
      "default": "Share information about your collection with customers. Describe a collection, make announcements related to your collection.",
      "label": "t:common.description.label"
    },
    {
      "type": "header",
      "content": "t:common.header.icon_over_section.label"
    },
    {
      "type": "checkbox",
      "id": "show_icon_on_image",
      "label": "t:common.show_icon.label",
      "default": false
    },
    {
      "type": "select",
      "id": "icon",
      "label": "t:common.icon.label",
      "default": "snail",
      "options": [
        {
          "label": "t:common.icon_name.arrow.label",
          "value": "arrow"
        },
        {
          "label": "t:common.icon_name.line-arrow.label",
          "value": "line-arrow"
        },
        {
          "label": "t:common.icon_name.heart.label",
          "value": "heart"
        },
        {
          "label": "t:common.icon_name.star.label",
          "value": "star"
        },
        {
          "label": "t:common.icon_name.snail.label",
          "value": "snail"
        },
        {
          "label": "t:common.icon_name.sparkle.label",
          "value": "sparkle"
        }
      ]
    },
    {
      "type": "paragraph",
      "content": "t:common.icon_position.label"
    },
    {
      "type": "range",
      "id": "left_to_right",
      "label": "t:common.left_to_right.label",
      "default": 50,
      "min": -10,
      "max": 90,
      "step": 1,
      "unit": "%"
    },
    {
      "type": "range",
      "id": "top_to_bottom",
      "label": "t:common.top_to_bottom.label",
      "default": 50,
      "min": -10,
      "max": 90,
      "step": 1,
      "unit": "%"
    },
    {
      "type": "range",
      "id": "mobile_left_to_right",
      "label": "t:common.mobile_left_to_right.label",
      "default": 50,
      "min": -10,
      "max": 90,
      "step": 1,
      "unit": "%"
    },
    {
      "type": "range",
      "id": "mobile_top_to_bottom",
      "label": "t:common.mobile_top_to_bottom.label",
      "default": 50,
      "min": -10,
      "max": 90,
      "step": 1,
      "unit": "%"
    },
    {
      "type": "color",
      "id": "icon_animated_color",
      "label": "t:common.icon_animated_color.label",
      "default": "#000000"
    },
    {
      "type": "header",
      "content": "t:common.header.section_border.label"
    },
    {
      "type": "checkbox",
      "id": "enable_top_border",
      "label": "t:common.enable_top_border.label",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "enable_bottom_border",
      "label": "t:common.enable_bottom_border.label",
      "default": false
    },
    {
      "type": "select",
      "id": "border_style",
      "default": "solid",
      "label": "t:common.border_style.label",
      "options": [
        {
          "value": "solid",
          "label": "t:common.border_style.options.solid.label"
        },
        {
          "value": "dashed",
          "label": "t:common.border_style.options.dashed.label"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:common.header.media_section.label"
    },
    {
      "type": "select",
      "id": "media_alignment",
      "label": "t:sections.tabbed-collage.settings.media_alignment.label",
      "default": "left",
      "options": [
        {
          "label": "t:sections.tabbed-collage.settings.media_alignment.options.left.label",
          "value": "left"
        },
        {
          "label": "t:sections.tabbed-collage.settings.media_alignment.options.right.label",
          "value": "right"
        }
      ]
    },
    {
      "type": "select",
      "id": "desktop_height",
      "label": "t:sections.tabbed-collage.settings.desktop_height.label",
      "default": "500px",
      "options": [
        {
          "value": "adapt_image",
          "label": "t:sections.tabbed-collage.settings.height.options.adapt_image.label"
        },
        {
          "value": "400px",
          "label": "400px"
        },
        {
          "value": "500px",
          "label": "500px"
        },
        {
          "value": "600px",
          "label": "600px"
        },
        {
          "value": "700px",
          "label": "700px"
        },
        {
          "value": "800px",
          "label": "800px"
        },
        {
          "value": "100vh",
          "label": "t:sections.tabbed-collage.settings.height.options.full_screen.label"
        }
      ]
    },
    {
      "type": "select",
      "id": "mobile_height",
      "label": "t:sections.tabbed-collage.settings.mobile_height.label",
      "default": "500px",
      "options": [
        {
          "value": "adapt_image",
          "label": "t:sections.tabbed-collage.settings.height.options.adapt_image.label"
        },
        {
          "value": "300px",
          "label": "300px"
        },
        {
          "value": "400px",
          "label": "400px"
        },
        {
          "value": "500px",
          "label": "500px"
        },
        {
          "value": "600px",
          "label": "600px"
        },
        {
          "value": "100vh",
          "label": "t:sections.tabbed-collage.settings.height.options.full_screen.label"
        }
      ]
    },
    {
      "type": "range",
      "id": "image_radius_desktop",
      "default": 10,
      "label": "t:sections.tabbed-collage.settings.image_radius_desktop.label",
      "min": 2,
      "max": 40,
      "step": 1,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "image_radius_mobile",
      "default": 10,
      "label": "t:sections.tabbed-collage.settings.image_radius_mobile.label",
      "min": 2,
      "max": 40,
      "step": 1,
      "unit": "px"
    },
    {
      "type": "header",
      "content": "t:common.header.tabs_section.label"
    },
    {
      "type": "select",
      "id": "expand_icons",
      "default": "plus",
      "label": "t:sections.tabbed-collage.settings.expand_icons.label",
      "options": [
        {
          "value": "plus",
          "label": "t:sections.tabbed-collage.settings.expand_icons.options.plus.label"
        },
        {
          "value": "arrows",
          "label": "t:sections.tabbed-collage.settings.expand_icons.options.arrows.label"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "enable_blockbg",
      "label": "t:sections.tabbed-collage.settings.enable_blockbg.label",
      "default": false
    },
    {
      "type": "header",
      "content": "t:common.header.color_section.label"
    },
    {
      "type": "select",
      "id": "bgcolor",
      "label": "t:common.header.background_section.label",
      "default": "primary",
      "options": [
        {
          "value": "primary",
          "label": "t:common.header.primary.label"
        },
        {
          "value": "secondary",
          "label": "t:common.header.secondary.label"
        },
        {
          "value": "tertiary",
          "label": "t:common.header.tertiary.label"
        },
        {
          "value": "quaternary",
          "label": "t:common.header.quaternary.label"
        },
        {
          "value": "gradient",
          "label": "t:common.header.gradient.label"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:common.header.space_section.label"
    },
    {
      "type": "range",
      "id": "top_space_desktop",
      "label": "t:common.top_space_desktop.label",
      "default": 0,
      "min": 0,
      "max": 100,
      "step": 5
    },
    {
      "type": "range",
      "id": "bottom_space_desktop",
      "label": "t:common.bottom_space_desktop.label",
      "default": 50,
      "min": 0,
      "max": 100,
      "step": 5
    },
    {
      "type": "range",
      "id": "top_space_mobile",
      "label": "t:common.top_space_mobile.label",
      "default": 30,
      "min": 0,
      "max": 100,
      "step": 5
    },
    {
      "type": "range",
      "id": "bottom_space_mobile",
      "label": "t:common.bottom_space_mobile.label",
      "default": 30,
      "min": 0,
      "max": 100,
      "step": 5
    }
  ],
  "blocks": [
    {
      "type": "media",
      "name": "t:sections.tabbed-collage.blocks.media.name",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.tabbed-collage.blocks.media.settings.image.label"
        },
        {
          "type": "video",
          "id": "video",
          "label": "t:sections.tabbed-collage.blocks.media.settings.video.label"
        },
        {
          "type": "header",
          "content": "t:sections.tabbed-collage.blocks.media.settings.content.content"
        },
        {
          "type": "text",
          "label": "t:common.sub_heading.label",
          "id": "subheading"
        },
        {
          "type": "text",
          "label": "t:sections.tabbed-collage.blocks.media.settings.heading.label",
          "id": "heading",
          "default": "Heading"
        },
        {
          "type": "url",
          "id": "heading_link",
          "label": "t:common.header.tab_link.label"
        },
        {
          "type": "select",
          "id": "seo_heading",
          "label": "t:common.header.heading_tag.label",
          "info": "t:common.header.heading_tag.info",
          "default": "h2",
          "options": [
            {
              "value": "h1",
              "label": "t:common.header.heading_tag.options.h1.label"
            },
            {
              "value": "h2",
              "label": "t:common.header.heading_tag.options.h2.label"
            },
            {
              "value": "h3",
              "label": "t:common.header.heading_tag.options.h3.label"
            },
            {
              "value": "h4",
              "label": "t:common.header.heading_tag.options.h4.label"
            },
            {
              "value": "h5",
              "label": "t:common.header.heading_tag.options.h5.label"
            },
            {
              "value": "h6",
              "label": "t:common.header.heading_tag.options.h6.label"
            }
          ]
        },
        {
          "type": "select",
          "id": "size",
          "label": "t:common.heading_size.label",
          "default": "h2",
          "options": [
            {
              "value": "h1",
              "label": "H1"
            },
            {
              "value": "h2",
              "label": "H2"
            },
            {
              "value": "h3",
              "label": "H3"
            },
            {
              "value": "h4",
              "label": "H4"
            },
            {
              "value": "h5",
              "label": "H5"
            },
            {
              "value": "h6",
              "label": "H6"
            }
          ]
        },
        {
          "type": "richtext",
          "label": "t:sections.tabbed-collage.blocks.media.settings.description.label",
          "id": "description",
          "default": "<p>To provide clients insight into your brand, pair words with any image. Here you can tell a narrative, explain a product feature, or introduce a new campaign.</p>"
        },
        {
          "type": "select",
          "id": "icon",
          "label": "t:common.icon.label",
          "default": "shipping",
          "options": [
            {
              "label": "None",
              "value": "none"
            },
            {
              "label": "t:common.icon.options.chat.label",
              "value": "chat"
            },
            {
              "label": "t:common.icon.options.eye.label",
              "value": "eye"
            },
            {
              "label": "t:common.icon.options.file.label",
              "value": "file"
            },
            {
              "label": "t:common.icon.options.gift.label",
              "value": "gift"
            },
            {
              "label": "t:common.icon.options.global.label",
              "value": "global"
            },
            {
              "label": "t:common.icon.options.heart.label",
              "value": "heart"
            },
            {
              "label": "t:common.icon.options.phone.label",
              "value": "phone"
            },
            {
              "label": "t:common.icon.options.refund.label",
              "value": "refund"
            },
            {
              "label": "t:common.icon.options.search.label",
              "value": "search"
            },
            {
              "label": "t:common.icon.options.secure.label",
              "value": "secure"
            },
            {
              "label": "t:common.icon.options.shipping.label",
              "value": "shipping"
            },
            {
              "label": "t:common.icon.options.smile.label",
              "value": "smile"
            },
            {
              "label": "t:common.icon.options.support.label",
              "value": "support"
            },
            {
              "label": "t:common.icon.options.tag.label",
              "value": "tag"
            },
            {
              "label": "t:common.icon.options.thumb.label",
              "value": "thumb"
            },
            {
              "label": "t:common.icon.options.user.label",
              "value": "user"
            },
            {
              "label": "t:common.icon.options.gift-colored.label",
              "value": "gift-colored"
            },
            {
              "label": "t:common.icon.options.paw-colored.label",
              "value": "paw-colored"
            },
            {
              "label": "t:common.icon.options.vegan-colored.label",
              "value": "vegan-colored"
            },
            {
              "label": "t:common.icon.options.shipping-colored.label",
              "value": "shipping-colored"
            }
          ]
        },
        {
          "type": "select",
          "id": "icon_size",
          "label": "t:common.icon_size.label",
          "options": [
            {
              "label": "t:common.icon_size.options.small.label",
              "value": "small"
            },
            {
              "label": "t:common.icon_size.options.medium.label",
              "value": "medium"
            },
            {
              "label": "t:common.icon_size.options.large.label",
              "value": "large"
            }
          ]
        },
        {
          "type": "header",
          "content": "t:sections.tabbed-collage.blocks.media.settings.button.content"
        },
        {
          "type": "checkbox",
          "id": "btn_as_link",
          "default": false,
          "label": "t:sections.tabbed-collage.blocks.media.settings.btn_as_link.label"
        },
        {
          "type": "text",
          "id": "btn_text",
          "default": "Button text",
          "label": "t:sections.tabbed-collage.blocks.media.settings.btn_text.label"
        },
        {
          "type": "url",
          "id": "btn_link",
          "label": "t:sections.tabbed-collage.blocks.media.settings.btn_link.label"
        }
      ]
    },
    {
      "type": "product",
      "name": "Product",
      "settings": [
        {
          "type": "product",
          "label": "t:sections.tabbed-collage.blocks.product.settings.product.label",
          "id": "product"
        },
        {
          "type": "header",
          "content": "t:sections.tabbed-collage.blocks.product.settings.content.content"
        },
        {
          "type": "text",
          "label": "Subheading",
          "id": "subheading"
        },
        {
          "type": "text",
          "label": "t:sections.tabbed-collage.blocks.product.settings.heading.label",
          "id": "heading",
          "default": "Heading"
        },
        {
          "type": "url",
          "id": "heading_link",
          "label": "t:common.header.tab_link.label"
        },
        {
          "type": "select",
          "id": "seo_heading",
          "label": "t:common.header.heading_tag.label",
          "info": "t:common.header.heading_tag.info",
          "default": "h2",
          "options": [
            {
              "value": "h1",
              "label": "t:common.header.heading_tag.options.h1.label"
            },
            {
              "value": "h2",
              "label": "t:common.header.heading_tag.options.h2.label"
            },
            {
              "value": "h3",
              "label": "t:common.header.heading_tag.options.h3.label"
            },
            {
              "value": "h4",
              "label": "t:common.header.heading_tag.options.h4.label"
            },
            {
              "value": "h5",
              "label": "t:common.header.heading_tag.options.h5.label"
            },
            {
              "value": "h6",
              "label": "t:common.header.heading_tag.options.h6.label"
            }
          ]
        },
        {
          "type": "select",
          "id": "size",
          "label": "t:common.heading_size.label",
          "default": "h2",
          "options": [
            {
              "value": "h1",
              "label": "H1"
            },
            {
              "value": "h2",
              "label": "H2"
            },
            {
              "value": "h3",
              "label": "H3"
            },
            {
              "value": "h4",
              "label": "H4"
            },
            {
              "value": "h5",
              "label": "H5"
            },
            {
              "value": "h6",
              "label": "H6"
            }
          ]
        },
        {
          "type": "richtext",
          "label": "t:sections.tabbed-collage.blocks.product.settings.description.label",
          "id": "description",
          "default": "<p>To provide clients insight into your brand, pair words with any image. Here you can tell a narrative, explain a product feature, or introduce a new campaign.</p>"
        },
        {
          "type": "select",
          "id": "icon",
          "label": "t:common.icon.label",
          "default": "shipping",
          "options": [
            {
              "label": "None",
              "value": "none"
            },
            {
              "label": "t:common.icon.options.chat.label",
              "value": "chat"
            },
            {
              "label": "t:common.icon.options.eye.label",
              "value": "eye"
            },
            {
              "label": "t:common.icon.options.file.label",
              "value": "file"
            },
            {
              "label": "t:common.icon.options.gift.label",
              "value": "gift"
            },
            {
              "label": "t:common.icon.options.global.label",
              "value": "global"
            },
            {
              "label": "t:common.icon.options.heart.label",
              "value": "heart"
            },
            {
              "label": "t:common.icon.options.phone.label",
              "value": "phone"
            },
            {
              "label": "t:common.icon.options.refund.label",
              "value": "refund"
            },
            {
              "label": "t:common.icon.options.search.label",
              "value": "search"
            },
            {
              "label": "t:common.icon.options.secure.label",
              "value": "secure"
            },
            {
              "label": "t:common.icon.options.shipping.label",
              "value": "shipping"
            },
            {
              "label": "t:common.icon.options.smile.label",
              "value": "smile"
            },
            {
              "label": "t:common.icon.options.support.label",
              "value": "support"
            },
            {
              "label": "t:common.icon.options.tag.label",
              "value": "tag"
            },
            {
              "label": "t:common.icon.options.thumb.label",
              "value": "thumb"
            },
            {
              "label": "t:common.icon.options.user.label",
              "value": "user"
            },
            {
              "label": "t:common.icon.options.gift-colored.label",
              "value": "gift-colored"
            },
            {
              "label": "t:common.icon.options.paw-colored.label",
              "value": "paw-colored"
            },
            {
              "label": "t:common.icon.options.vegan-colored.label",
              "value": "vegan-colored"
            },
            {
              "label": "t:common.icon.options.shipping-colored.label",
              "value": "shipping-colored"
            }
          ]
        },
        {
          "type": "select",
          "id": "icon_size",
          "label": "t:common.icon_size.label",
          "options": [
            {
              "label": "t:common.icon_size.options.small.label",
              "value": "small"
            },
            {
              "label": "t:common.icon_size.options.medium.label",
              "value": "medium"
            },
            {
              "label": "t:common.icon_size.options.large.label",
              "value": "large"
            }
          ]
        },
        {
          "type": "header",
          "content": "t:sections.tabbed-collage.blocks.product.settings.button.content"
        },
        {
          "type": "checkbox",
          "id": "btn_as_link",
          "default": false,
          "label": "t:sections.tabbed-collage.blocks.product.settings.btn_as_link.label"
        },
        {
          "type": "text",
          "id": "btn_text",
          "default": "Button text",
          "label": "t:sections.tabbed-collage.blocks.product.settings.btn_text.label"
        },
        {
          "type": "url",
          "id": "btn_link",
          "label": "t:sections.tabbed-collage.blocks.product.settings.btn_link.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.tabbed-collage.presets.name",
      "blocks": [
        {
          "type": "media"
        },
        {
          "type": "product"
        },
        {
          "type": "media"
        },
        {
          "type": "product"
        }
      ]
    }
  ]
}
{% endschema %}